[2020-05-17 23:00] chasenyc opened #898 "Styling issue on requests index"
- Telescope Version: 3.5.0
- Laravel Version: 7.0
- PHP Version: 7.4
- Database Driver & Version: MySQL

### Description:
This only occurs for me in chrome(incognito with no extensions):
<img width="1447" alt="Screen Shot 2020-05-17 at 6 56 28 PM" src="https://user-images.githubusercontent.com/10642932/82162173-7b437900-9870-11ea-9807-0d0f855ad5ea.png">

It looks fine in firefox.

### Steps To Rep

[2020-05-19 14:57] DevJMD commented on #897
To add to this, I figured out a previous issue on a model that was having the same issue. I simply had to add the following to the Model:

[code]

SSMA TimeStamps returns a non-UTF8 string and was causing issues, but that of course isn't the same issue here. May have to look a bit deeper in to what is being returned in the response when it's making AJAX requests to fetch data.

[2020-05-20 18:02] michastubi commented on #897
I have the exact same problem. But unfortanly no clue how to solve this...

[2020-05-21 10:50] driesvints commented on #898
I can't reproduce this. Displays fine for me in Chrome.

[2020-05-21 10:50] #898 closed

[2020-05-21 11:03] driesvints commented on #897
I'll need some help with this from someone who can reproduce it on sqlserver.

[2020-05-24 10:35] tanthammar opened #899 "Unable to install"
- Telescope Version: 3.5
- Laravel Version: 7.12.0
- PHP Version: 7.4.4
- Database Driver & Version: mySQL 5.7

### Description:
Unable to install

### Steps To Reproduce:
composer require laravel/telescope
php artisan telescope:install

Error:
[code]

[2020-05-24 10:41] tanthammar commented on #899
Had old .env setting where Telescope was disabled. Enabling it resolved this issue.

[2020-05-24 10:41] #899 closed

[2020-05-25 09:15] driesvints commented on #897
I'm gonna close this as it seems that this is quite an edge case. We'd really appreciate a PR that fixes this problem.

[2020-05-25 09:15] #897 closed

[2020-05-26 23:35] vishalsirka commented on #174
ErrorException
Array to string conversion

i also getting this error.

[2020-05-29 10:56] Dartanjan commented on #189
Not sure if this helps anyone, but after I did
[code]
in Tinker, I was able to see the SQL log in Telescope that I wasn't seeing with `return false` or such.

[2020-05-30 11:31] aminraeisi commented on #241
This issue happens also when you setup supervisord to always run your jobs and do `artisan migrate:fresh` (in dev environment). Because there is a chance that right after the tables are dropped, the jobs tables gets checked for new jobs and you get this error in the logs that the table does not exist.

[2020-05-31 20:43] keshansandeepa commented on #732
I fixed this issue like this
1 . Running these commands `php artisan cache:clear and php artisan config:clear`
2.Then Later Require Telescope `composer require laravel/telescope`
3.Then Later I run this command `php artisan telescope:install`
### So Basically It WORKED

### if you want to remove the package you installed

Run remove command `composer remove laravel/telescope `
then comment or remo

[2020-06-02 14:41] sebdesign commented on #787
@driesvints @themsaid I'm facing the same issue, using the Gate against another model that implements the `Authorizable` instead of the `Authenticatable` contract.

The Gate indeed expects an instance `Authenticatable`, but this contract is not being enforced anywhere, because it doesn't use **any**  of the `Authenticatable` methods, and this interface is declared in the docblocks and **not** as a

[2020-06-03 01:59] trevorgehman commented on #577
I'm facing the same issue. In my case, I've noticed the only jobs being affected are events and listeners.

[2020-06-03 07:34] asmit99nepali commented on #293
I got the same error, how to fix any solution ?

[2020-06-03 09:50] driesvints commented on #577
This might be resolved in 8.x: https://github.com/laravel/framework/pull/32992

So if anyone can try it in the upcoming Laravel release that'd be great.

[2020-06-03 19:49] azaricstefan commented on #827
This is a great idea, I would love to see this in telescope!

[2020-06-03 19:50] azaricstefan commented on #798
Agreed, this would help a lot when investigating some cases.

[2020-06-05 10:38] mathieutu commented on #800
Yeah, interessed by this metric too.

[2020-06-08 07:28] vahidmoghadam opened #901 "How can i upgrade Telescope from 2.x to 3.x?"
I'm using Laravel Telescope 2.1.7 and I want to upgrade to the latest version (3.x) due to added IP address save on 3.x version.
Please help me to do this.
Thanks

[2020-06-08 08:13] driesvints commented on #901
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-06-08 08:13] #901 closed

[2020-06-09 21:32] wwwroth commented on #798
I've wanted this feature for awhile so I've begun a fork/branch for it. I've implemented the UI using `v-calendar`. Any help is more than welcome :)

https://github.com/wwwroth/telescope/commit/a704fb314eb36059f839580082a19b49f41cae23

[2020-06-10 09:22] driesvints commented on #798
@wwwroth that's already looking pretty cool 👍

[2020-06-10 11:46] azaricstefan commented on #798
I love it! @wwwroth

[2020-06-10 11:59] emargareten commented on #798
@wwwroth Are you adding a timepicker as well?

[2020-06-11 09:12] driesvints commented on #798
Unfortunately Taylor rejected the PR which means we won't be able to make this happen in Telescope, sorry folks.

Thanks for your work @wwwroth.

[2020-06-11 09:12] #798 closed

[2020-06-11 13:43] PenguinOfWar opened #906 "No requests appear on Vapor deployment"
- Telescope Version: 3.5
- Laravel Version: 6.18.13
- PHP Version: 7.4 local, Vapor Defauly remote
- Database Driver & Version: mysql, Vapor Default

### Description:

Apologies if this is better off as a Vapor question, but I assume I'm doing something wrong here.

I've followed the instructions to set up Telescope in my existing Laravel application. It works locally on homestead, but when I depl

[2020-06-11 13:48] driesvints commented on #906
Heya, it's probably best that you contact Vapor support directly (using the in-app widget). Thanks.

[2020-06-11 13:48] #906 closed

[2020-06-11 14:06] barryvdh commented on #906
Make sure you filter you data correctly: https://laravel.com/docs/7.x/telescope#filtering
On production you need to define what is logged and what isn't.

[2020-06-12 16:30] azaricstefan commented on #798
@driesvints it's just for now.
I would interpret this as we can merge this in the future when it's improved further.

[2020-06-12 19:29] wwwroth commented on #798
@azaricstefan It was thrown together rather quickly. If @taylorotwell gave the thumbs up to a more robust solution, I'll work on it further or you can help out. I'm not sure if he just doesn't want to take Telescope in that direction.

[2020-06-13 21:52] azaricstefan commented on #798
It won't be an issue to make this feature more robust, I can help out here too @wwwroth, question is if this feature fits in Telescope roadmap and plans. @driesvints and @taylorotwell could answer that.

[2020-06-17 17:37] bornemisza opened #907 "Getting the currently authenticated user properties"
**Current telescope version: v3.2**

### Feature request:

The telescope getting every currently authenticated user properties in the Laravel\Telescope\IncomingEntry::user() function. Which is little bit stone written to Eloquent, because we try to get the name like this: "_$user->name_". Currently I am using [laravel-doctrine/orm](https://github.com/laravel-doctrine/orm) and I am not exactly a fu

[2020-06-18 12:20] driesvints commented on #907
Hmm, I'm afraid this falls a little out of scope sorry. We'd have to draw up a contract that describes a Telescope user. It'd be an extra installation step for users who aren't using a different ORM.

That being said you can always attempt a PR. But it's probably best that you'd send this to master.

[2020-06-18 12:20] #907 closed

[2020-06-18 22:10] haoxi911 commented on #532
My scenario is I used a 3rd party library `Bouncer` which managed Laravel authorizations. So the `Gate` in Telescope's provider doesn't really work.

[2020-06-19 13:12] driesvints commented on #577
This is most likely fixed in Laravel 8. When Laravel 8 gets released and this issue still pops up feel free to reply back.

[2020-06-19 13:12] #577 closed

[2020-06-23 00:08] deviouspk commented on #827
Would love to see this in telescope aswell!

[2020-06-23 08:29] driesvints commented on #827
Hey all. Thank you for your enthusiasm but please abstain from posting comments that you'd like to see this in Telescope. Instead, please help out by discussing how we'd implement this practical or by sending in a PR.

[2020-06-24 08:20] moore0903 commented on #801
@biswajit-unified
Have you solved the problem？
I try to use mongodb
But it can be inserted and cannot be viewed

[2020-06-24 09:14] moore0903 commented on #801
@biswajit-unified
[https://github.com/ahmedawm2/telescope-mongodb-laravel6](https://github.com/ahmedawm2/telescope-mongodb-laravel6)
See if it helps you

[2020-06-24 09:17] ramagkrishna91gmail commented on #732
Thanks for the support. It worked after running  php artisan cache:clear &  php artisan config:clear commands.

[2020-06-24 09:42] MitchellMcKenna commented on #732
Ran into this issue as well. Clearing caches, then removing line `App\Providers\TelescopeServiceProvider::class,` from app/config/app.php as others recommended worked because the [install command won't run if that line already exists](https://github.com/laravel/telescope/blob/5797621d755e1f3019691bd6ec79fdd65bdea46d/src/Console/InstallCommand.php#L56) in the file.

**The Cause:**
For myself the ca

[2020-06-26 03:50] garrettgjb commented on #818
FYI  @booni3 I experienced the same issue where connections to telescope were never released. I hit the connection limit of a medium instance (around 200 i think) with basically no traffic.

Fix was to reuse the main database connection in telescope.php.

I saw connections sleeping for 4000+ seconds.

My guess is for some reason with telescope the telescope connection is not closed so by reusing m

[2020-06-27 06:06] paunin opened #908 "Support Lumen Framework"
Support Lumen Framework as in fact it can be really useful there

[2020-06-27 10:11] driesvints commented on #908
We have no intention of making lumen support telescope. Please use the Laravel framework if you need telescope.

[2020-06-27 10:11] #908 closed

[2020-07-03 17:57] amosmos commented on #795
@nokios I agree with you but do note that it is indeed gets logged in such cases... I think that means it can also be reported no?

Unless the log is a default in PHP or something and not part of telescope.

Thanks,
Amos

[2020-07-06 10:44] moiz-conceptlz commented on #532
Does anyone know how to get Telescope working with Catalyst Sentinal? (https://cartalyst.com/manual/sentinel/4.x)

Using Laravel 6.18 and Sentinal v4

[2020-07-10 09:06] arthur798 opened #910 "Telescope recording is paused."
- Telescope Version: 3.5
- Laravel Version: 7.18
- PHP Version: 7.4
- Database Driver & Version: Mysql 8.0.17

### Description:

### Steps To Reproduce:

So I am on telescope watching requests and then suddenly I get message on top saying Telescope recording is paused. what is that and how can I debug why this happens?

[2020-07-10 09:38] mattias-persson commented on #818
@garrettgjb how did you set it up to reuse the main database connection? We might be experiencing the same issue but have made no changes to the telescope config.

[2020-07-10 11:13] #910 closed

[2020-07-10 12:29] mohitpawar10 commented on #76
This issue is due to an empty or non logged user. Laravel gate receives user as the first argument if it's empty it doesn't care about internal code. If you want to use it without gate just remove gate function from TelescopeServiceProvider class and override authorization function. See the example below.

 /**
     * Configure the Telescope authorization services.
     *
     * @return void

[2020-07-10 14:39] dmason30 opened #911 "Schedule - record duration of task executed"
Currently the Schedule metrics only shows when each task last completed.

Is there scope to show when it started or how long it took to execute?

[2020-07-10 14:41] driesvints commented on #911
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-07-10 14:41] #911 closed

[2020-07-10 14:47] dmason30 commented on #911
It was more of a feature request but ok 🤷‍♂️

[2020-07-10 16:59] driesvints commented on #800
Gonna close this as this isn't something we're gonna pursue ourselves but anyone's free to attempt a pr if they want.

[2020-07-10 16:59] #800 closed

[2020-07-11 09:24] biswajitpaul01 commented on #801
@moore0903

Thank you for your suggestion. It works perfect. Better late than never.

[2020-07-13 15:21] haoyuqi commented on #532
If you don't use Laravel authorization, modify `function ($user)` to `function ($user = null)`
[code]

[2020-07-14 14:48] moiz-conceptlz commented on #532
This is great, but this makes telescope open in a production environment too which is not great.

How can the gate function be integrated with the user object of another auth library - specifically https://cartalyst.com/manual/sentinel/4.x?

[2020-07-15 00:28] haoyuqi commented on #532
`return true` just an example, you can customize the validation

[2020-07-16 00:10] christopherarter commented on #347
Still seeing this issue on Laravel `7.20.0`, Telescope `3.5.0` and Dusk `v6.4.1`.

I can run each test separately just fine, but `php artisan dusk` fails with `Class env does not exist`.

I have added `<server name="TELESCOPE_ENABLED" value="false"/>` in the correct place in the `phpunit.xml` file, run `optimize:clear` and `config:cache`, and I'm still getting this issue.

[2020-07-16 06:52] tundak commented on #561
What about larvael 7.x ? this don't have blade file for telescope while project have blade files.

[2020-07-16 09:21] tundak opened #912 "403 in production mode"
- Telescope Version: 3.5
- Laravel Version: 7.0
- PHP Version: 7.4
- Database Driver & Version: MySQL 8.0

### Description:
In production mode it always give error 403, i have setup gate, try to bypass with custom validation. nothing works.

### Steps To Reproduce:
try with above configurations, hope you will get this.

[2020-07-16 11:37] driesvints commented on #561
@tundak we probably will never support Laravel in a subdirectory, sorry.

[2020-07-16 11:39] driesvints commented on #912
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-07-16 11:39] #912 closed

[2020-07-18 11:05] WyattCast44 commented on #347
@christopherarter did you try running `config:clear`?

It sounds like you ran `optimize:clear` and then `config:cache` which would negate the effect of running `optimize:clear`?

Hope this helps 🙂

[2020-07-18 15:37] moiz-conceptlz commented on #532
Thanks for this - I was able to get Telescope working with Sentinal!

[2020-07-18 15:38] moiz-conceptlz commented on #532
Thanks for this @haoyuqi  - I was able to get Telescope working with Sentinal!

[2020-07-18 16:55] driesvints commented on #532
Hey everyone,

I'm locking this issue because it either has gone off-topic, become a dumping ground for things which shouldn't be in an issue tracker or is just too old. Please try to discuss things further on one of the below channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/l

[2020-07-19 14:52] christopherarter commented on #347
@WyattCast44 unfortunately not. Still having this issue.

It's basically not recognizing the values in the `phpunit.xml` file for any tests beyond the first one.

 _However_, if anyone is still having this problem after trying the answers above, though this is not a fix, I ended up just putting `TELESCOPE_ENABLED=false` in my `.env.dusk.local` file and it's working.

[2020-07-22 07:13] finagin opened #917 "ScrollUp area when page infinite scroll"
With infinite scrolling, sometimes a page gets very long, ScrollUp would be helpful
Something like this:
<img width="403" alt="ScrollUp vk.com" src="https://user-images.githubusercontent.com/11045296/88145746-93829c00-cc03-11ea-957c-98fcad5f8888.png">

[2020-07-22 11:49] driesvints commented on #917
Feel free to attempt a pr if you'd like

[2020-07-22 11:49] #917 closed

[2020-07-23 19:41] garrettgjb commented on #818
@mattias-persson actually, the problem is still occurring even when I reused my main connection in telescope. I believe it's not a problem with telescope but more likely not releasing the connection that telescope uses on vapor side after telescope captures some sort of data related to jobs. I.e. maybe when a timeout occurs the connection is never released.

[2020-07-24 11:37] semiherdogan opened #919 "Query detail page shows mysql variables as "undefined""
- Telescope Version: 2.1.7
- Laravel Version: 6.18.22
- PHP Version:  7.3.14
- Database Driver & Version:
mysql & 5.7.28
### Description:
When i use mysql variable in sql query telescope query detail page shows that variable as undefined.

### Steps To Reproduce:
Run this query and check telescope query detail page.
`\DB::select('select @user_id := id as id from users');`

It shows correctly at li

[2020-07-24 11:39] driesvints commented on #919
Seems like Telescope has some problems with session variables. Appreciating help with this or a PR until we get to this ourselves.

[2020-07-24 14:04] mattias-persson commented on #818
@garrettgjb Yep, we have the same theory of Vapor not closing connections the way we'd expect.

[2020-07-24 16:13] shanerbaner82 commented on #347
Not using dusk, added `<env name="TELESCOPE_ENABLED" value="false"/>` to `phpunit.xml` and everything seems to be working fine for me.

[2020-07-25 08:44] moiz-conceptlz opened #921 "Adding filter in production for Mails and Jobs"
I have Telescope installed on Laravel 6.x. In the Laravel app, the file `app/Providers/TelescopeServiceProvider.php` contains the `register()` method. The following code exists.

    Telescope::filter(function (IncomingEntry $entry) {

            if ($this->app->isLocal()) {
                return true;
            }

            return $entry->isReportableException() ||
                   $entry

[2020-07-25 11:32] driesvints commented on #921
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-07-25 11:32] #921 closed

[2020-07-25 15:11] SupianIDz opened #922 "Throwing FatalError caused by the type of EntryModel::$table isn't string"
- Telescope Version: 3.5.0
- Laravel Version: 7.21.0
- PHP Version: 7.4.8
- Database Driver & Version: mysql  Ver 15.1 Distrib 10.5.4-MariaDB

### Description:
Laravel Telescope only displays the scanning process, but never opens.

After I checked the console, I found the following error message:

[code]
I try to reinstall, but same happened.

### Steps To Reproduce:
Just opened it.

[2020-07-25 15:16] SupianIDz commented on #922
Sorry, my mistake, I changed the core code on Laravel accidentally because PHPStorm adjusted the code according to the version of PHP that I was using.

[2020-07-25 15:52] #922 closed

[2020-07-25 16:24] garrettgjb commented on #818
Just for the record,  I disabled every setting within telescope (except TELESCOPE_ENABLED) and the problem persist. Once I disable TELESCOPE_ENABLED the problem is gone. I looked into using mongo to avoid crashing mysql but that doesn't seem to be supported.

[2020-07-25 20:24] derekmd commented on #919
The Telescope Vue template uses NPM package [sql-formatter](https://www.npmjs.com/package/sql-formatter) to highlight SQL queries. Digging into its code, the `@` character is treated similar to the `?` placeholder, but named. MS SQL Server, etc. support this syntax.

https://github.com/zeroturnaround/sql-formatter/blob/1062bbc278319d6bf0e2d4cc30fba427411a6dab/src/languages/StandardSqlFormatter.js#

[2020-07-26 06:30] moiz-conceptlz commented on #921
Thank @driesvints .. but tried 3 of those channels 10 days back and no reply on either. Hence thought of posting it here! Thanks for the suggestion.

[2020-07-26 15:31] barryvdh commented on #921
You can check $entry->type to see which ones you also want to record.

[2020-07-27 10:29] driesvints commented on #919
@derekmd thank you for the thorough investigation here! Seems like sql-formatter hasn't received updates since almost a year and there's not much response on its issue tracker either. Is there an alternative we could use that'd also solve this issue?

[2020-07-27 11:00] barryvdh commented on #919
I think currently the SQL parameters are processed with PHP, since https://github.com/laravel/telescope/pull/706
So the bindings are always empty. Could we just remove the bindings parameter from Javascript?

[2020-07-27 11:04] driesvints commented on #919
@barryvdh isn't that essential info here?

[2020-07-27 11:07] barryvdh commented on #919
What do you mean? The bindings are replaced in PHP, so no need for the Javascript formatter to replace the bindings.  As you can see here: https://github.com/laravel/telescope/blob/f05c934b037de086d98cf1bf9979ee104ed16746/src/Watchers/QueryWatcher.php#L41-L42
The bindings are always just an empty array. I don't even think it's needed, but I left them to avoid any BC breaks, for when bindings was e

[2020-07-27 11:10] driesvints commented on #919
@barryvdh but the problem is that `@user_id` is replaced with `undefined`. How can it be saved if our JS removes it? Maybe I'm missing something here.

[2020-07-27 11:12] barryvdh commented on #919
@derekmd said:

[2020-07-27 11:22] barryvdh commented on #919
You can test it yourself on https://zeroturnaround.github.io/sql-formatter/ and open the console. When no params key is passed, no attempts to replace them are made. And because we already replaced them and the bindings are empty anyway, we shouldn't have to. So just replacing these lines:

https://github.com/laravel/telescope/blob/53c40e89f0de45d878665f17f2da02a05c18a394/resources/js/screens/quer

[2020-07-27 11:56] driesvints commented on #919
@barryvdh gotcha. Appreciating a PR if anyone's up for it.

[2020-07-27 12:16] semiherdogan commented on #919
I have tested @derekmd 's method, its working properly.

[2020-07-27 19:10] driesvints commented on #827
Hey all. This definitely is a good idea and something we'd like to see in Telescope. However, since we won't be working on this ourselves any time soon I'm closing this. We'd still appreciate a PR if anyone's willing to work on this.

[2020-07-27 19:10] #827 closed

[2020-07-28 14:12] #919 closed

[2020-07-29 17:41] emargareten opened #925 "Incorrect location for queries from database validation rules"
- Telescope Version: 3.5.1
- Laravel Version: 7.22.4
- PHP Version: 7.4.5
- Database Driver & Version: MySql 8.0

### Description:
Query watcher for database validation rules are not showing the correct location.

This is because the controller / form request is called from `call_user_func_array` so it doesn't include the filename in `debug_backtrace` (see [here](https://bugs.php.net/bug.php?id=44

[2020-07-30 12:09] driesvints commented on #925
Please provide full steps/code examples to reproduce.

[2020-07-31 23:28] RCRalph opened #927 "Telescope receiving empty responses even though there are records in the database that it should show"
- Telescope Version: 3.5.1
- Laravel Version: 7.22.2
- PHP Version: 7.2.5
- Database Driver & Version: Seems to be database independent, but I used SQLite3

### Description:
Telescope doesn't display any records from the `telescope_entries` table, but instead it only shows this:
![image](https://user-images.githubusercontent.com/36704328/89087668-42a63c80-d395-11ea-8b2d-417c6580716b.png)

If we ta

[2020-08-03 08:10] driesvints commented on #927
Works fine for me.

<img width="1281" alt="Screenshot 2020-08-03 at 10 10 03" src="https://user-images.githubusercontent.com/594614/89160534-86559d80-d571-11ea-9670-bc4947d88bc0.png">

[2020-08-03 08:10] #927 closed

[2020-08-03 08:18] #925 closed

[2020-08-03 15:44] Eldair commented on #828
Same issue here
In short, the package is attempting to connect to redis during package discovery process and on some (maybe every) artisan command (basically I can not use artisan tinker unless there is a redis server running while telescope is enabled)

[2020-08-04 09:13] dsampaolo commented on #927
I have the same problem on a project (in Production, works fine in local). Telescope says "Just empty space" but there are records in the database. couldn't reproduce on a new project. I'll keep you updated if I find the reason why.

[2020-08-04 10:31] RCRalph commented on #927
@dsampaolo look at this post:
https://stackoverflow.com/a/63238312/9362390
Installing this virtual machine solved my problem.

[2020-08-05 11:29] SvenSchoene opened #928 "Support hiding / not recording / masking of ip addresses (e.g. for GDPR)"
I see that recording of IP adresses was added in this PR: https://github.com/laravel/telescope/pull/895

This is a useful feature to have.
Unfortunately for GDPR related purposes we're only storing ip addresses for a very limited (~12 hours) amount of time. After that we're deleting any logs with real ip-addresses. We're also keeping logs with masked ip addresses which we can use for longer.

Now

[2020-08-05 11:31] driesvints commented on #928
Sure thing. Feel free to send in a PR! 👍

[2020-08-05 11:31] #928 closed

[2020-08-13 16:03] hihuangwei opened #929 "How to set 403 redirect URL"
How to set 403 redirect URL

[2020-08-13 16:09] driesvints commented on #929
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-08-13 16:09] #929 closed

[2020-08-14 08:23] killgt commented on #828
It's just not a docker problem, you can have the issue anywhere where you don't have a redis service running. The problem it's the discover will touch the cache, you can fix this by settings the .env with:

`CACHE_DRIVER=file`

I'm doing this in a step before running composer install and resetting it after all artisan commands run.

[2020-08-18 07:14] yooga0 commented on #292
You may combine them with '&':
`Tag1&Tag2`

[2020-08-18 11:17] robtesch commented on #883
Hi guys, any update on this? We're on 3.5.1 now and it seems it's still a dependency...

[2020-08-31 13:47] Billtec opened #934 "Telescope is not working under subdirectory"
- Telescope Version: 3.5.1
- Laravel Version: 6.18.35
- PHP Version: 7.4.9
- Database Driver & Version: MariaDB 10.4.14

### Description:
Telescope is not working under subdirectory like `http://localhost/laravel/telescope` . In which `http://localhost/laravel` is the entry of Laravel app. It is configured in Apache by `Alias "/laravel" "D:/www/laravel/public"`

### Steps To Reproduce:
1. Install

[2020-08-31 13:52] driesvints commented on #934
We don't support running Laravel in a subdirectory: https://laravel.com/docs/7.x#directory-configuration

[2020-08-31 13:52] #934 closed

[2020-09-03 08:34] drashoor opened #935 "Telescope in AWS Challenge"
Enable telescope on AWS requires a lot of hits & it becomes costly unnecessarily, Is there another solutions? Is it better to disable telescope on AWS & what is the alternative?

[2020-09-03 08:42] driesvints commented on #935
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-03 08:42] #935 closed

[2020-09-03 21:23] tomheadifen commented on #347
You can change the default to false for telescope by updating your `config/telescope.php` file.

[code]

You will then have to set: `TELESCOPE_ENABLED=true` in your .env file. This will ensure that you don't have it accidentally turned on in environments you don't want such as production and unit testing.

[2020-09-04 09:46] barryvdh commented on #935
Do you mean that because of the polling, the Vapor/Lambda cost are increasing?  I do agree that Telescope should be able to be paused.

[2020-09-08 15:23] maggz69 commented on #82
I ran into the same problem and realised that I had configured my laravel installation wrongly. I had set the session_domain as 127.0.0.1:8000 which meant that the auth cookie was being set on the full domain + port number. This brought about the error 419 when telescope tried to make requests since there wasnt a session cookie for 127.0.0.1. Another side effect was that requests would fail to due

[2020-09-09 06:30] cincauhangus opened #941 "Composer Installation automatically selects 4.x instead of a compatible version for Laravel 7.x"
- Telescope Version: 3.5.1/4.0.0
- Laravel Version: 7.28.0
- PHP Version: 7.4.8
- Database Driver & Version: not relevant

### Description:
Running `composer require laravel/telescope` automatically selects 4.x instead of 3.x with laravel 7.x

### Steps To Reproduce:
![image](https://user-images.githubusercontent.com/616127/92562629-dc241080-f2a8-11ea-9054-fbdc123629f0.png)

[2020-09-09 07:50] driesvints commented on #941
Telescope v4 requires Laravel 8. Please see. the upgrade guide. If you need telescope for Laravel 7 please require v3.

[2020-09-09 07:50] #941 closed

[2020-09-09 14:08] Sofianio opened #942 "Feature request: the ability to replay a request"
Hello,
Big fan of telescope, I wish I found it sooner ❤️

A thing I thought would be useful is to be able to replay a request, I'll explain

### Idea inspired from Firefox
I saw this in Firefox browser dev tools under Network panel, you see all the requests made by that page with the headers, params and response, if your right click a request you find the option to replay a request as in resend ex

[2020-09-09 23:29] prosperoking opened #943 "Target class [env] does not exist after upgrade to version 4"
- Telescope Version: 4.0
- Laravel Version: 8.0
- PHP Version: 7.4
- Database Driver & Version:

### Description:
Target class [env] does not exist when running tests ater update to version 4.0

### Steps To Reproduce:
Install Telescope and make use of the TelescopeApplicationServiceProvider. this will totally ignore the telescope enabled config and load.

### Workaround
A work around for this is

[2020-09-10 09:36] tczaude opened #944 "Horizon not avoid full table scans"
I recreate bug becouse i insert in horiozn but this should be there

- Laravel Version: v6.18.35
- PHP Version: 7.3.18
- Redis Driver & Version: predis/phpredis #.#.#
- Database Driver & Version:

### Description:

Horizon in standard use this query:

`select tag from telescope_monitoring `

which is putted to slow_log because this make full table scan

this is explained in first point this docume

[2020-09-10 09:37] #944 closed

[2020-09-10 12:21] tczaude opened #946 "Telescop avoid full table scan"
I recreate bug becouse i insert in horiozn but this should be there

- Laravel Version: v6.18.35
- PHP Version: 7.3.18
- Redis Driver & Version: predis/phpredis #.#.#
- Database Driver & Version:

### Description:

Horizon in standard use this query:

`select tag from telescope_monitoring `

which is putted to slow_log because this make full table scan

this is explained in first point this docume

[2020-09-10 13:12] spielfigur opened #947 "__construct() must be of the type array, int given"
- Telescope Version: 3.5.1
- Laravel Version: 7.28.1
- PHP Version: 7.4.10
- Database Driver & Version: mariadb Ver 15.1 Distrib 10.5.5-MariaDB, for osx10.15 (x86_64) using readline 5.1

### Description:

Got the following error when a job failed:

`Argument 6 passed to Laravel\Telescope\EntryResult::__construct() must be of the type array, int given, called in /var/www/vendor/laravel/telescope/sr

[2020-09-10 13:18] driesvints commented on #947
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-09-10 13:19] driesvints commented on #946
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-09-10 13:19] #946 closed

[2020-09-10 13:51] spielfigur commented on #947
Hoi Dries,

I've just upgraded to

- Telescope Version: 4.0.0
- Laravel Version: 8.0.3

it's really a breeze :)

Sadly the error persists:

`php_1          | [10-Sep-2020 15:47:30] WARNING: [pool www] child 25 said into stderr: "[2020-09-10 15:47:30] development.ERROR: Argument 6 passed to Laravel\Telescope\EntryResult::__construct() must be of the type array, int given, called in /var/www/vendor/

[2020-09-10 14:00] driesvints commented on #947
What is the value of `content` for this database entry?

[2020-09-10 14:26] spielfigur commented on #947
well, I had just asked myself the same thing!?
it looks like something is missing or wrong initialized?

![Bildschirmfoto 2020-09-10 um 16 23 07](https://user-images.githubusercontent.com/6874264/92744972-39d85b80-f382-11ea-878a-4f9d5fe2c640.png)
![Bildschirmfoto 2020-09-10 um 16 23 36](https://user-images.githubusercontent.com/6874264/92744985-3cd34c00-f382-11ea-8a3d-c9f61f1051c4.png)
![Bildschir

[2020-09-10 14:33] spielfigur commented on #947
just one comment for the upgrade guide:

Don't forget to enable the new batch watcher in your config watchers array:
`Watchers\BatchWatcher::class => env('TELESCOPE_BATCH_WATCHER', true),`

[2020-09-10 14:39] tczaude commented on #946
this query exist in every version.

[2020-09-10 14:40] driesvints commented on #947
We'll need to figure out how that `0` got in there.

[2020-09-10 14:46] driesvints commented on #946
@tczaude please test with the latest version and fill out the issue template for telescope.

[2020-09-10 15:28] spielfigur commented on #947
Seems like my problem with the job was the timeout value, which was to low for my minio storage...
But i have no idea how the zero gets in there.

have a nice evening!

[2020-09-10 15:34] driesvints commented on #947
Gonna close this then and hope it's a hiccup. Will investigate if more people experience this.

[2020-09-10 15:34] #947 closed

[2020-09-10 15:51] paras-malhotra commented on #946
Why would tag ever be null anyway?

[2020-09-10 16:49] tczaude commented on #946
This problem is not exactly how is telescope work.
But how construct query to database.
When table is small and database query optymalizer cannot determine best method and do full scan and this query put in log.
When You extend by **where** You "help" QDO avoid make table scan.
You can put there ' !="" ' effect will be this same.

These are the basics of databases.

[2020-09-10 17:00] paras-malhotra commented on #946
Don't see how that would optimise the query when tag is not nullable. It's basically the same query with or without the where clause.

[2020-09-10 17:17] paras-malhotra commented on #942
Looks like a useful feature but there's a lot of data that the Request Watcher doesn't store:

1. File data: Only the file name and size are stored, not the actual file(s)
2. Hidden / sensitive session, request and header data in `Telescope::$hiddenRequestParameters`

Also, the workflow would be pretty tedious. E.g. different users making the same request could have different results. So, to make

[2020-09-10 17:26] Sofianio commented on #942
I can see that keeping the file would be not doable
But keeping the headers/session should be doable in ajax call or smth

[2020-09-10 18:03] ragingdave opened #948 "Unable to run the post-install-cmd when in non-dev install environment"
- Telescope Version: 3.5.1
- Laravel Version: 7.28.1
- PHP Version: 7.4.3

### Description:
When using telescope for only certain environments, but using the telescope:publish command as part of composer post-update-cmd, the call fails even using error suppression, and the composer install/update fails as a result with the following error:

There are no commands defined in the "telescope" namespac

[2020-09-10 18:34] tczaude commented on #946
How that's happens is question for Mariadb / Mysql staff.

When You have minimum 2 records in this table that's look explain

`EXPLAIN SELECT SQL_NO_CACHE tag FROM telescope_monitoring;`
`id|select_type|table               |type |possible_keys|key|key_len|ref|rows|Extra      |
--|-----------|--------------------|-----|-------------|---|-------|---|----|-----------|
 1|SIMPLE     |telescope_monitor

[2020-09-10 18:34] paras-malhotra commented on #948
@ragingdave `post-update-cmd` scripts are run when either `composer update` is run or `composer install` is run without a lock file. Both situations shouldn't happen in production because it's recommended to commit your `composer.lock` file in your projects and not run `composer update` on production.

If however, for some reason, you aren't committing the lock file or running composer update, its

[2020-09-10 18:59] ragingdave commented on #948
I do actually have a lock file committed, and that seems to have no bearing on this error happening. So to add a step to reproduce, ensure that the composer lock file is present, then re-run a `composer install --no-dev` and see that it fails with that same issue.

[2020-09-10 19:08] tczaude commented on #946
And next example

with where

`Status                |Duration|Context_voluntary|Context_involuntary|
----------------------|--------|-----------------|-------------------|
Starting              |0.000176|                0|                  0|
Checking permissions  |0.000033|                0|                  0|
Opening tables        |0.000048|                0|                  0|
After opening

[2020-09-10 19:48] paras-malhotra commented on #948
That's strange - here's an excerpt from the [Composer docs](https://getcomposer.org/doc/articles/scripts.md#command-events):

[2020-09-10 19:56] ragingdave commented on #948
The issue isn't with the timing of when that post-update-cmd runs, it's the issue that's it's run after the install takes place, but if you don't have telescope installed (in a no-dev composer install) even with a lock file, laravel doesn't know about the command namespace and will error out. This means you can't actually add the publish command as a post-update-cmd if you don't have telescope ins

[2020-09-10 20:03] paras-malhotra commented on #948
The issue isn't the timing, it's that `post-update-cmd` and `telescope:publish` shouldn't be executed (ever) in production if you have telescope as a dev dependency. The issue is why is `post-update-cmd` executing at all? As per the Composer docs it shouldn't be executed in production and if it doesn't execute, there would be no issues with this setup.

[2020-09-10 20:10] paras-malhotra commented on #948
@ragingdave did you add the `"@php artisan telescope:publish --ansi"` in `post-update-cmd` or `post-install-cmd`? The subject of the issue says `post-install-cmd` but the description reads `post-update-cmd`

[2020-09-10 20:35] ragingdave commented on #948
I actually have it in both, but that wouldn't the cause as regardless, the command isn't registered at all in laravel, so when it gets run to ensure that the server it's on is actually up to date, it will error out.

[2020-09-11 05:29] paras-malhotra commented on #948
That's the real issue. Remove it from `post-install-cmd` and it will work perfectly

The idea is for it to never run in production, so there's no question of an error. You could have `"@php gibberish"` in your `post-update-cmd` and it still won't error out in production because the script will never run

[2020-09-11 12:21] driesvints commented on #942
Probably not something we're gonna do ourselves. You can already replay requests with your browser dev tools.

[2020-09-11 12:21] #942 closed

[2020-09-11 12:48] ragingdave commented on #948
you know, that's a very good point, and yep that solves it. Thanks!

[2020-09-11 12:48] #948 closed

[2020-09-11 12:55] sergiy-petrov commented on #943
The same problem here when running phpunit.

I've fixed it by adding TELESCOPE_ENABLED=false to my .env.testing
However it's weird why it didn't read this variable from phpunit.xml

[2020-09-11 13:25] driesvints commented on #943
Works fine for me.

@sergiy-petrov That's done by default: https://github.com/laravel/laravel/blob/master/phpunit.xml#L29

[2020-09-11 13:25] #943 closed

[2020-09-11 13:34] sergiy-petrov commented on #943
@driesvints I meant that I have the variable set to false in phpunit.xml but the problem is resolved only after adding the variable to .env.testing

[2020-09-12 06:03] josezenem commented on #347
Recently upgraded to Laravel 8 from Laravel 7, I just started experiencing this issue.  I am running PHP 7.4.

After some debugging, I found that PHPUnit will ignore `false` as a value, but if you type any other value it picks it up, there seems to be something odd with how the config loads the `false` value.  Not sure if this is an issue with PHP Unit or if it's an issue with Laravel.  it also on

[2020-09-12 21:52] leandromatos commented on #347
Thanks @josezenem! I spent 4 hours trying to solve this problem.

[2020-09-13 09:33] Sofianio commented on #942
I actually can't ... as I said the call is sometimes made from mobile or from a distant machine
But if it's too much hassle to get it done .. drop it

[2020-09-13 17:04] Shaggy84675 commented on #347
You saved my day! Same problem on Laravel 8. After this change I've also had to clear config cache using `php artisan config:clear`

[2020-09-13 17:58] driesvints commented on #942
@Sofianio Telescope wasn't really meant to be used on a mobile screen.

[2020-09-13 21:56] Sofianio commented on #942
@driesvints The request was made from a mobile app, while I check requests on telescope from desktop

[2020-09-14 02:45] fefogarcia commented on #347
I was just having the same issue after upgrading to Laravel 8 and this is the only thing that fixed it. Thank you.

[2020-09-16 23:59] ap-coder commented on #941
I @cincauhangus

Guess he didnt actually read what you wrote.  I have the same issue if you find a fix.

[2020-09-17 01:10] cincauhangus commented on #941
The workaround I used is `composer require laravel/telescope:^3.5`

[2020-09-17 09:00] driesvints commented on #941
@ap-coder I did. Please re-read my comment.

[2020-09-22 04:17] schwartzmj opened #952 "New Laravel 8 event subscriber syntax not compatible with Telescope, crashes app"
- Telescope Version: 4.0.0
- Laravel Version: 8.5.0
- PHP Version: 7.4.9
- Database Driver & Version:

### Description:
New Laravel 8.0 event subscriber syntax not compatible with Telescope. Results in app crashing and error: `get_class() expects parameter 1 to be object, string given` at `vendor/laravel/telescope/src/Watchers/EventWatcher.php:91`

### Steps To Reproduce:

In an event subscriber,

[2020-09-22 09:48] driesvints commented on #952
@schwartzmj can you try by modifying that piece to

[code]

[2020-09-22 11:33] #952 closed

[2020-09-22 23:22] ivanlara commented on #732
I had exactly the same issue, the thing was **I kept opening my .env file from my code editor recent files and it wasn't the one for my current projec**t, so no matter how much I set `TELESCOPE_ENABLED=true` I kept getting all the same errors previously described until I found out. watch out!

[2020-09-23 14:36] jud3v opened #954 "There are no commands defined in the "telescope" namespace."
- Telescope Version: 4.x.x, 4.0.0, 4.0.1
- Laravel Version: 8.6.0
- PHP Version: 7.4.10
- ZendEngine : 3.4.0
- Database Driver & Version: mysql  Ver 15.1 Distrib 10.4.14-MariaDB, for Linux (x86_64) using  EditLine wrapper

### Description:

Hello i'm using laravel telescope on my project to track bug, job, ...

- Previously i used laravel version 7.25.0 with telescope version 3.x.x every working w

[2020-09-23 15:00] #954 closed

[2020-09-29 05:12] puncoz opened #955 "500 Error with messsage Type of Laravel\\Telescope\\Storage\\EntryModel::$table must be string"
- Telescope Version: v4.0.1
- Laravel Version: v8.6.0
- PHP Version: 7.4.10
- Database Driver & Version:

### Description:
A 500 Internal Server Error thrown while calling api `/telescope/telescope-api/requests` by telescope dashboard.

Error Response:

[code]

### Steps To Reproduce:
- Setup the telescope
- Browse telescope dashboard `/telescope` in browser, it will keep on loading while we can s

[2020-09-29 06:13] paras-malhotra commented on #955
That's something wrong in your setup, nothing wrong with Telescope per se.

[2020-09-29 08:13] driesvints commented on #955
We don't use typed properties.

[2020-09-29 08:13] #955 closed

[2020-09-30 19:35] devmsh opened #957 "Cloudflare response error"
- Telescope Version: 4.X
- Laravel Version: 8.X
- PHP Version: 7.4

### Description:

if I tried to search for a tag like `App\Models\Conversation:115` I got this.

[code]

[2020-10-01 08:07] driesvints commented on #957
Not sure what that is about but that seems very specific to your use case. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?n

[2020-10-01 08:07] #957 closed

[2020-10-02 09:08] ssarljames opened #958 "Feature Request: Securing Telescope without using sessions."
Hi there,

I'm having an issue that I must have the access on Telescope on production site without having to logon to the system.

As far as I know, we can secure Telescope with the following code

[code]

In my case, I don't have a user from the production site so the code above will not work.

Can we have another method of securing Telescope like passing a **long token** to Telescope url and tha

[2020-10-02 11:07] driesvints commented on #958
Don't think we have any plans for this, sorry.

[2020-10-02 11:07] #958 closed

[2020-10-06 07:49] MutedFaith commented on #178
This approach will give users access to telescope whether authenticated or not. It's not advisable to do this.

[2020-10-06 11:48] kingeke opened #960 "Request Logs Improvement"
Hello, so when i want to view the request logs, it takes a long time and that's mostly cause its fetching all the data per request, the sessions, the response, all the logs etc.. and this slows down the whole loading time, when we're only viewing the status code, uri, response time and created_at..

Is it possible to limit the data returned to just that so the loading time can be increased??

[2020-10-06 12:02] driesvints commented on #960
I haven't experienced anything like this myself. If you want to improve something here feel free to send in a PR 👍

[2020-10-06 12:02] #960 closed

[2020-10-06 21:19] kingeke commented on #960
@driesvints it'll only be experience if you're using a slow internet connection, cause it has to loan all the details per requests when you're viewing all requests, can the index page be limited to just the necessities ? that's the status code, uri, response time and created_at ?

[2020-10-07 04:58] johnwc opened #962 "Allow setting log level for LogWatcher"
It would be nice to be able to tell telescope to only log a certain level or higher for the log messages. We use telescope for our scheduler servers to be able to have a quick way to view overall activity. Once the code deploys to the scheduler servers, we don't want to log debug messages, just info or higher.

[2020-10-08 10:54] driesvints commented on #962
We aren't going to work on this ourselves but feel free to send in a PR if you want.

[2020-10-08 10:54] #962 closed

[2020-10-09 12:12] mnavarrocarter commented on #620
I was experiencing the same issue and I fixed it by removing the package discovery command completely from the `post-autoload-dump` hook in my `composer.json`. The only benefit of package discovery is just automatically copying default config files, assets, registering facades and providers. I can do that manually and have peace of mind.

[2020-10-12 20:28] m1stermanager commented on #620
i haven't changed much about my environment lately except for bumping to laravel 8.X.... and telescope to 4.x per the upgrade guide. Running into this right now...... was something fixed in 7.x and reverted in 8.x?

[2020-10-12 22:29] m1stermanager commented on #620
I figured this out. the change to prepend the scheme (which defaults to tcp) broke me: https://github.com/laravel/framework/commit/aa4e2691843e9ca7040139209a3f4a00df888d2a#diff-89b6287633db08fda2f83951857e18fd

I was including the scheme (tls for us) in the REDIS_HOST, causing it to build tcp://tls://<host>

[2020-10-16 15:53] 19peaches opened #968 "Laravel 6.18.42 Composer Require Failure"
- Telescope Version: 4.1.0
- Laravel Version: 6.18.42
- PHP Version: 7.4.11
- Database Driver & Version: MariaDB 10.5.5

Telescope will not install to this version of Laravel. Throws the following:

[code]

Steps To Reproduce: `composer require laravel/telescope`

Do I need an older version?

[2020-10-16 15:58] 19peaches commented on #968
Nevermind, sorry I see I need 3.5.1.

[2020-10-16 15:58] #968 closed

[2020-10-16 20:54] mralston commented on #897
@driesvints I can reproduce this consistently and would be happy to help troubleshoot.

I'm running SQL Server 2017. According to the following article, UTF-8 support wasn't introduced until SQL Server 2019.

https://techcommunity.microsoft.com/t5/sql-server/introducing-utf-8-support-for-sql-server/ba-p/734928

Obviously that means that my SQL Server instance will not be able to support UTF-8, and

[2020-10-19 08:50] driesvints commented on #897
@mralston I guess supporting SQL Server 2017 seems problematic. If anyone's willing to work on a PR we could accept it maybe.

[2020-10-21 03:33] logan2211 opened #972 "Telescope should use a timezone aware database data type"
- Telescope Version: 3.5.1
- Laravel Version: 6.18.40
- PHP Version: 7.4.11
- Database Driver & Version: mariadb 10.3

### Description:
Telescope should use a timestamp column rather than [datetime](https://github.com/laravel/telescope/blob/86665787a7183f85d9e4551ec059f239e48af89c/src/Storage/migrations/2018_08_08_100000_create_telescope_entries_table.php#L51) for storing the event timestamps. Dat

[2020-10-22 10:33] driesvints commented on #972
We're not sure ourselves why this was the choice back then. All other packages use the timestamp column. However, we won't be changing this as that'd be a unnecessary breaking change to our users.

Afaik timestamp fields also don't save timezone info? In general I don't recommend saving timezone info together with any datetime/timestamp field and always save that in a separate column.

[2020-10-22 10:33] #972 closed

[2020-10-23 03:52] resuta566 opened #973 "Can't Re-Install Telescope on New Updated Laravel 6.16.0 -> 6.19.1"
- Telescope Version: ^4.x
- Laravel Version: 6.19.1
- PHP Version: 7.4 (Homestead 9.5.1)
- Database Driver & Version: MariaDB (Homestead 9.5.1)

### Description:
I can't install Telescope on Laravel 6.19.1, I already got it installed when I'm on 6.16.0. Then I run composer update. It removes the telescope on the vendor, IDK but maybe because I put it on don't discover. Now I got this error:

[code

[2020-10-23 04:28] resuta566 commented on #973
^4.0 is supported for Laravel 6.x

[2020-10-23 04:28] #973 closed

[2020-10-27 04:50] jny986 commented on #818
I had a similar problem and discovered that the issue was caused by the Vapor warming as it was keep 10 instances (by default) warm and each time it hit the warming endpoint it triggered Telescope.

I was able to solve the problem by changing to preserved capacity which does not hit an endpoint to keep instances ready

Hope that helps

[2020-10-30 09:02] mattias-persson commented on #818
For us it was the package https://github.com/grimzy/laravel-mysql-spatial that prevented the DB connections from being closed. Removing it solved the issue for us.

[2020-10-30 09:34] martio opened #976 "Installation on Laravel 8 does not work"
- Telescope Version: 4.2.0
- Laravel Version: 8.12.3
- PHP Version: 7.4
- Database Driver & Version: MySQL

### Description:

I have a new project on the latest version of Laravel. When installed, it only adds the provider to the "config/app.php" file. Does not copy "app/Providers/TelescopeServiceProvider.php" and config, migration, resources and assets files. After entering the dashboard at /tele

[2020-10-30 09:49] driesvints commented on #976
Works fine for me:

<img width="894" alt="Screenshot 2020-10-30 at 10 49 09" src="https://user-images.githubusercontent.com/594614/97690642-8e07de00-1a9d-11eb-8315-df250c3b53a1.png">

[2020-10-30 09:49] #976 closed

[2020-10-31 00:07] skrivitsky commented on #976
@driesvints Did you install package via register method and require-dev ?

[2020-10-31 07:14] martio commented on #976
I'm sorry, it's my mistake :(

`TELESCOPE_ENABLED=false`

[2020-10-31 09:23] driesvints commented on #976
@skrivitsky I used the steps to reproduce from the OP

[2020-10-31 09:25] martio commented on #976
You can close, it's OK 👍

[2020-11-03 22:11] vexa256 commented on #743
Just in case any one is still stack at this, check your file permissions, make sure apache or nginx has the right permissions. In my case it was related to file permissions , so on my dev enviroment i ran the command with sudo (Ubuntu 20.04) and corrected the file permissions after the command worked since files created with sudo will have permission not accessible to apache2

[2020-11-04 21:48] mrjutsu opened #978 "Telescope doesn't publish migrations in fresh Laravel install"
- Telescope Version: 4.3.0
- Laravel Version: 8.13.0
- PHP Version: 7.4.1
- Database Driver & Version: MySQL 5.7.26

### Description:
Running `php artisan vendor:publish --tag=telescope-migrations` after installing Telescope in a fresh Laravel project throws the error: `Can't locate path: <.../vendor/laravel/telescope/src/Storage/migrations>`

### Steps To Reproduce:
Create a new Laravel project:

[2020-11-05 10:00] timhaak commented on #978
I hit the same problem.

Created a pull request to hopefully save someone some time :)

laravel/telescope#979

[2020-11-05 12:13] driesvints commented on #978
Thanks. Merged and released.

[2020-11-05 12:13] #978 closed

[2020-11-07 17:29] weblooter commented on #554
Had the same problem. The factory created but did not save the model.
Primary - string.
Trace looked like this:

[code]
And then I realized that I didn't use timestamps, but I forgot to declare `public $timestamps = false` in the model;
After the declare, it worked

[code]

[2020-11-11 05:52] sanaat commented on #830
Telescope version "laravel/telescope": "^3.5", Authenticated User block show new field PhoneNumber but not displayed can you any help me

[2020-11-11 14:39] neverfan opened #980 "Add canceled lable into batch screens"
Hi. If batch was canceled, then the field `canceled_at` is set for it. I think it would be correct to display a separate status for canceled batches.

In files:
https://github.com/laravel/telescope/blob/4.x/resources/js/screens/batches/index.vue
https://github.com/laravel/telescope/blob/4.x/resources/js/screens/batches/preview.vue

[2020-11-11 17:27] martio opened #981 "Unable to locate publishable resources"
- Telescope Version: 4.3.1
- Laravel Version: 8.14.0
- PHP Version: 7.4

### Description:

An error occurred while updating libraries: "Unable to locate publishable resources"

<img width="630" alt="Zrzut ekranu 2020-11-11 o 18 22 52" src="https://user-images.githubusercontent.com/133636/98843540-66285b00-244b-11eb-9fd0-a06179a462b1.png">

### Steps To Reproduce:

In **composer.json** file:

[code

[2020-11-12 09:31] driesvints commented on #981
Think this is specifically related to your Docker setup because it works fine for me on my local macOS environment:

<img width="912" alt="Screenshot 2020-11-12 at 10 31 20" src="https://user-images.githubusercontent.com/594614/98922026-438d5500-24d2-11eb-97aa-0d5b1a8cfa69.png">

[2020-11-12 09:32] driesvints commented on #830
@sanaat Telescope 3.x isn't supported anymore. Please upgrade to the latest version.

[2020-11-12 09:33] driesvints commented on #980
Could indeed maybe be useful. Feel free to attempt a PR.

[2020-11-12 09:33] #980 closed

[2020-11-12 12:47] martio commented on #981
I checked and I still have a bug:

[code]

I have the latest version of the libraries...

[2020-11-12 13:14] driesvints commented on #981
I think it's best that you try a support channel for this as this is not related to the library itself.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?ni

[2020-11-12 13:14] #981 closed

[2020-11-16 08:49] temi3500 opened #982 "telescope custom watchers"
Hi , i am using telescope from a while and now i want to extend the Request Watcher class with my custom Incoming Entry for stripe webhooks but when i make my own class then telescope turned off . is there any way to do this ..?

[2020-11-16 08:51] driesvints commented on #982
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-11-16 08:51] #982 closed

[2020-11-16 14:21] cococococococo commented on #493
same problem here

[2020-11-17 20:12] johnwc opened #983 "Allow not including SQL values in logging"
Would be very beneficial to be able to have an option to disable logging SQL values for very large queries. When running queues, we have background tasks that import large amounts of data. These telescope entries fail, as the sql text is around 300mb.

[2020-11-18 04:57] timacdonald commented on #981
I've just run into this as well. Happens locally and in Docker. `horizon:publish` and `nova:publish` work as expected. Trying to debug further

[2020-11-18 04:59] timacdonald commented on #981
ahhhh, lol. My bad. I had Telescope disabled in my ENV, which means this command won't work hehe. @martio might just wanna check your haven't accidentally done the same

[2020-11-18 07:39] driesvints commented on #983
I don't know how we'd know up front how large these queries are going to be? In general it seems a bad idea to have such large queries.

[2020-11-18 07:39] #983 closed

[2020-11-18 09:18] martio commented on #981
@timacdonald yes, I have the same 🙈 Thanks! 😀

[2020-11-19 02:50] johnwc commented on #983
That's why I mentioned for there to be a way to optionally disable logging the binding data. Sometime we just need to see the error, and not the actual SQL data. Please indulge me on why you think it's such a bad idea to do a MySQL recommended bulk insert. To be clear, the data being inserted is not 300MB, the text form of the SQL insert is 300MB.

[2020-11-20 12:23] Jespercal opened #984 "RequestWatcher fails to read headers containing some characters"
We just encountered a problem with Telescope, where we sent requests to our endpoint, but they wouldn't show up, not even as 404s.
After some digging, it turns out that they did go through Laravel, but Telescope wouldn't register them. Only after we changed map in headers to return it as utf8_encode(header[0]).
Dumping the header from the endpoint would show a corrupted json header when not using

[2020-11-20 13:23] driesvints commented on #984
Please resubmit this with a filled out issue template.

[2020-11-20 13:23] #984 closed

[2020-11-26 09:35] aocneanu opened #988 "Unable to use a custom cache driver while having telescope enabled"
- Telescope Version: 4.3.1
- Laravel Version: 8.16..1
- PHP Version: 7.4.12
- Database Driver & Version: MySQL 8.0.22

### Description:
I created a custom cache driver that is registered in the AppServiceProvider and I want to use it as default (env / config).

Apparently I cannot do that while having telescope enabled, because from the TelescopeServiceProvider (`Telescope::start($this->app)` -> `

[2020-11-26 15:42] driesvints commented on #988
Yeah this does seems problematic. I don't have a solution right away so appreciating an extra pair of eyes.

[2020-11-26 16:51] aocneanu commented on #988
Besides `DumpWatcher` that could eventually use the file store, `CacheWatcher` has the same issue and in its case we will want access to the default store.

A solution would be finding a way to set ASP load priority at the framework level and put the package's `TelescopeServiceProvider` to the end of the list. This might save other awkward scenarios as well, so it could be a nice feature.

Another

[2020-11-27 08:14] driesvints commented on #988
The later sounds good but it would require a really big breaking change.

[2020-11-27 08:29] raftx24 commented on #988
I guess we can wrap the boot method in the $this->app->booted(function () {}). as below
[code]

[2020-11-27 08:33] aocneanu commented on #988
I guess wrapping Telescope:start and listen in app->booted should be enough.

[2020-11-27 09:33] driesvints commented on #988
That seems like a good solution to me as well. Can any of you PR that?

[2020-11-27 09:39] aocneanu commented on #988
@driesvints found [another solution](https://github.com/laravel-enso/cache-chain/pull/3/files) for our use case which seems to me more robust, because it avoids this situation for any potential package that might do what telescope is doing.

Do you think that it would make sense to do a PR to laravel docs instead or I'm missing somthing out?

[code]

could become

[code]

[2020-11-27 10:12] driesvints commented on #988
Ah yes that's smart actually. If you want you can send a PR to the docs for that.

[2020-11-27 10:12] #988 closed

[2020-12-02 13:50] marensas commented on #754
It's not possible to host a second level subdomain on "https" protocol i.e.: https://api.subproject.project.com

https://serverfault.com/questions/104160/wildcard-ssl-certificate-for-second-level-subdomain

[2020-12-03 08:47] royartitex commented on #868
I've had the same issue with an existing Laravel v8.17.1 installation and Telescope v4.3.1. like @elvendor said, adding the `TELESCOPE_ENABLED=true` to the .env file, clearing the config cache with `php artisan config:clear` and then running `php artisan telescope:install` worked like a charm for me.

[2020-12-04 03:02] nogamenofun98 opened #989 "Telescope doesnt record some request"
- Telescope Version: 3.5.1
- Laravel Version: 7.28.4
- PHP Version: 7.3
- Database Driver & Version:

### Description:
Telescope wont record some api request
Below are the request list show in telescope:
![image](https://user-images.githubusercontent.com/9070825/101116178-8ea50e80-361f-11eb-9043-8b6011c3338a.png)

Below are the request log from my own code in database, id 195740 is the /auth api i

[2020-12-04 08:51] driesvints commented on #989
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-12-04 08:51] #989 closed

[2020-12-04 20:41] bcorcoran commented on #289
This is still happening on Laravel 8.17.1 and Telescope 4.3.1. Local env.

`TELESCOPE_QUERY_WATCHER=false` is the only way that I can avoid this issue at present.

Any model that I try to return an ID from returns 0.

This also happens while doing $model->relationship()->create([]);

Both models are created successfully, but the relationship ID is saved as 0, which breaks the application.

[2020-12-07 21:44] adampatterson opened #992 "Vendor Publishes to the wrong path if path.public has been altered"
- Telescope Version: ^4.3
- Laravel Version: ^8.0
- PHP Version: 7.4.9
- Database Driver & Version:

### Description:
I have set a custom assets folder and have changed the path in `AppServiceProvider`.  Running `artisan telescope:publish` is still using my original public path.

### Steps To Reproduce:

[code]

[code]

View `/telescope`
[code]

It looks like the path is set to `/public` regardles

[2020-12-08 08:53] driesvints commented on #992
Please post your `AppServiceProvider.php`

[2020-12-08 14:52] adampatterson commented on #992
[code]

[2020-12-08 15:36] driesvints commented on #992
Your binding of the public path is in the boot method and not in the register method. This can conflict with Telescope's boot method being loaded before your own boot method.

[2020-12-08 15:36] #992 closed

[2020-12-08 16:33] adampatterson commented on #992
@driesvints Are you saying that if I move the binding to the boot method it should work properly?

[2020-12-08 17:15] driesvints commented on #992
I think so yeah

[2020-12-09 16:12] FutureFutureTo opened #994 "Pause starts playing again without being clicked"
- Telescope Version: 4.3
- Laravel Version: 8.0
- PHP Version: 7.6
- Database Driver & Version: MySQL 5.6

### Description:
When clicking pause, Telescope will just start recording again after a few seconds or so

[2020-12-10 09:57] #994 closed

[2020-12-10 09:57] driesvints commented on #994
Not sure what the problem here is

[2020-12-10 15:50] FutureFutureTo commented on #994
Sorry, that wasn't super informative.

Basically, the toggle Play/Pause button just seems to reset itself. I can see it in realtime, watching it, after about 2-5 minutes, if paused, it just starts recording again.

I understand this Play/Pause is stored in cache...

I'm using a separate redis server to store cache, and am running this on production.

Just to test, I have been recording all events,

[2020-12-10 15:52] driesvints commented on #994
No not yet. Since this is the first report we're getting for this I don't think this is a widespread issue.

[2020-12-10 15:54] FutureFutureTo commented on #994
Okay, thanks for the prompt response - I'll keep digging on my side, but its not a huge issue either way.

This product is amazing, and I really appreciate all the work you guys put into this and the Laravel ecosystem - truly :)

[2020-12-11 18:43] diogogomeswww opened #998 "Option to store the query debug trace"
My suggestion is to have an option to store the query debug trace.
Option to be set to disable by default.

This would be useful to find n+1 queries, finding queries that are running on the views,...

I'm happy to make the PR if you like/want this new option.

Side question:
Why is telescope always storing an empty array for the binding?
![image](https://user-images.githubusercontent.com/11543163/

[2020-12-11 21:54] abdulmanan7 commented on #954
Remove
`["laravel/telescope"] from dont-discover`
and then run `composer dump-auto`

[2020-12-14 09:48] driesvints commented on #998
Please see Taylor's comment here: https://github.com/laravel/telescope/pull/164#issuecomment-433052383

My guess is to prevent the storage of sensitive data.

[2020-12-14 09:49] #998 closed

[2020-12-19 18:43] Blair2004 commented on #347
Sometimes, you might need to run `composer dump-autoload`.

[2020-12-21 12:48] darinda commented on #289
I stumbled upon this issue and thought i had the same problem, turned out in my case it looked the same (id being 0 after creation) but actually was not related to telescope. In fact in my case the corresponding model did not use auto increment keys (but a separate column) but i forgot to add `public $incrementing = false;` to that model.

Maybe this could be helpful for others discovering this is

[2020-12-21 13:18] alex-p-ysbm commented on #289
In our case the issue occurs because an extra query is executed in the user's 'email getter. The watcher [tries](https://github.com/laravel/telescope/blob/3.x/src/Telescope.php#L268) to [log the auth user](https://github.com/laravel/telescope/blob/3.x/src/IncomingEntry.php#L147) so the query is executed between an insert operation and `getPdo()->lastInsertId()` statement. And this is the reason wh

[2020-12-21 19:35] karlshea commented on #577
I'm seeing this in Laravel 8, I'm dispatching a job in the deleting function in a model observer. The job completes but is listed as pending in Telescope.

[2020-12-22 17:53] hackel opened #1002 "Error parsing Job class with uninitialized typed properties"
- Telescope Version: 4.4.0
- Laravel Version: 8.19.0
- PHP Version: 7.4.13

### Description:
When a Job class contains typed properties that are not initialized with a default value nor set in the constructor, an error is thrown: "Typed property x must not be accessed before initialization".

I believe to solve this in a backward compatible way, it would require something like this in `Laravel\Tel

[2020-12-28 16:39] driesvints commented on #1002
This isn't a Telescope issue. Provide a default value for the property if you aren't setting it when initialising it in your app.

https://stackoverflow.com/questions/59265625/why-i-am-suddenly-getting-a-typed-property-must-not-be-accessed-before-initiali

[2020-12-28 16:39] #1002 closed

[2020-12-30 06:07] hackel commented on #1002
@driesvints It is **absolutely** a Telescope issue.  Telescope is supposed to be passive and not dictate how my code must be written.  Telescope is what was responsible for accessing a variable before it has been initialized, not me.

More info on at least one situation where this comes up with Laravel: in Job classes, only the `handle` method receives injected dependencies, not the constructor, s

[2021-01-05 19:09] MatanYadaev opened #1004 "[Feature suggestion] HTTP Watcher"
I think it could be great that Laravel Telescope will log HTTP requests using the `Http` facade. WDYT guys?

[2021-01-06 07:28] ScriptingBeating commented on #542
Or at least give an option to publish telescope views. So that we can modify it.

[2021-01-06 23:21] pppdns commented on #289
This issue is still happening (Telescope 4.4.0, Laravel 8.19.0). I just spent 4 hours debugging before I found this thread. Can we reopen this ticket? This seems like a serious design flaw to me. We sould at least update the Telescope docs with a warning that we shouldn't use the same database driver for Telescope and the main app, otherwise there may be weird side effects.

When I disable Telesco

[2021-01-07 14:52] driesvints commented on #1004
Heya, this is maybe something we can consider. Feel free to attempt a PR.

[2021-01-07 14:52] #1004 closed

[2021-01-07 14:53] driesvints commented on #1004
Sorry, but we're not planning on working on this right now.

[2021-01-07 15:53] driesvints commented on #289
We need a proper way to reproduce this before we can look into this again.

[2021-01-08 11:36] piperone commented on #289
@driesvints Would you consider opening this issue again, though? It _is_ an issue that people are experiencing. Thanks.

[2021-01-08 11:50] driesvints commented on #289
We've decided to rather document this to suggest using a separate database connection for Telescope. I'll send in a PR to the docs shortly.

[2021-01-09 22:24] archilex commented on #289
I've moved telescope to a separate database connection and the problem still persists.

`TELESCOPE_QUERY_WATCHER=false` continues to be the only way to solve this problem.

[2021-01-11 00:31] rainbowhat commented on #59
I'm trying to filter by header, google bot is spamming me , can't see anything else.

[2021-01-11 09:53] driesvints commented on #289
If anyone can provide us with a clear step by step way to reproduce this issue I'll re-open it and take another look. Thanks

[2021-01-22 23:56] archilex commented on #289
After some digging, in my case the issue comes up during the try/catch block inside Telescope's record method during the RecordQuery call. It seems that the array_merge that is happening on the IncomingEntry->content is overwriting the model id.

@barryvdh This seems close to what you were referring to?

In my case this issue only happens with an authenticated user, unlike @bcorcoran

Commenting o

[2021-01-26 18:25] Nuxij commented on #868
I also see this issue from fresh on a laravel 7 + telescope 3

[2021-01-29 18:18] lucaspanik opened #1007 "event subscriber syntax not compatible with Telescope 3.x"
- Telescope Version: 3.5.1
- Laravel Version: 7.30.0
- PHP Version: 7.4.9
- Database Driver & Version:

### Description:
I am facing the same problem as the reference ticket in version 3.x of Telescope.

References:
[#952](https://github.com/laravel/telescope/issues/952)
[#953](https://github.com/laravel/telescope/pull/953)

Solution:
https://github.com/laravel/telescope/commit/a69fc6f4f5fd5b0ac5a

[2021-01-29 22:23] driesvints commented on #1007
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2021-01-29 22:23] #1007 closed

[2021-02-01 14:01] IVNtech commented on #954
thanks a lot this @jud3v code works on my laravel and worked!!!!!!!!!!

["laravel/telescope"] from dont-discover block - inside composer.json

[2021-02-02 04:26] simioluwatomi opened #1008 "Telescope records sensitive information present in the session's old input"
- Telescope Version: 4.4.0
- Laravel Version: 8.20.1
- PHP Version: 7.4.13
- Database Driver & Version: MySQL  8.0.22

### Description:
I'm logging all Telescope requests to a log file using a Custom Watcher because I want to retain this information for a long time. I basically just copied the `recordRequest` method in `Laravel\Telescope\Watchers\RequestWatcher` and added an additional line to ena

[2021-02-02 06:52] driesvints commented on #1008
I'm not sure what sensitive information you're talking about? Logging old input could be useful for debugging purposes.

[2021-02-02 08:55] simioluwatomi commented on #1008
Well for one, `password` and `password_confirmation` fields are logged. Is there a circumstance in which those should be logged even for debugging purposes?

[2021-02-02 09:02] driesvints commented on #1008
Ah I see what you mean. That's a good remark. I'm wondering if this is more a Laravel issue than a Telescope issue for having those values in session in the first place. I'll check in on that with the team and get back to you.

[2021-02-02 09:14] simioluwatomi commented on #1008
Well, I wasn't sure if it's a framework issue or a Telescope one. If it's a framework issue, I think Telescope should have a workaround for it until the framework decides how best to remedy this.

What makes me think this is a Telescope issue however is that the framework already has a mechanism for not flashing sensitive information to the session in `Handler.php`. It doesn't explicitly mean thos

[2021-02-02 09:16] driesvints commented on #1008
Yes but like you said that's only when validation exceptions occur. The values are still flashed for successful form submissions. So the exception handler doesn't apply there. I'm currently thinking about implementing a `$dontFlash` array also on the `InteractsWithFlashData`.

[2021-02-04 14:13] lopezdonaque commented on #828
Same error here.
The problem is due to the DumpWatcher.
Disabling it will fix the error.
I think it should not be executed during the package:discover.

`
        if (! $this->cache->get('telescope:dump-watcher')) {
            return;
        }
`

`
Watchers\DumpWatcher::class => env('TELESCOPE_DUMP_WATCHER', false),
`

[2021-02-04 17:15] danvim commented on #828
I would argue it is normally not an issue since nobody would realistically run telescope without their cache instance running. Therefore, my aim of this issue was to ask for a feature to turn off connection requirement (with or without a special option) during package discovery.

[2021-02-09 10:13] driesvints commented on #1008
@simioluwatomi you're gonna have to write some examples on how to reproduce this because no matter what I try no `_old_input` ends up in the logged requests for me. Can you please create a repo with a fresh laravel app and telescope and the minimum amount of code needed to reproduce this? Please commit your changes separately from the skeleton.

[2021-02-10 10:27] fanlei opened #1012 "ErrorException: Illegal string offset 'count' when running Jetstream test cases under testing env"
- Telescope Version: 4.4.2
- Laravel Version: 8+
- PHP Version: 7.3 or 7.4
- Database Driver & Version: PostgreSQL or SQLite

### Description:
[code]

### Steps To Reproduce:

1. Create a new Laravel project, and then config database properly for both .env and .env.testing
[code]
2. Install Jetstream:
[code]
Tests:  6 skipped, 24 passed.  (No fails)

3. Install Telescope:
[code]
(Make sure at this

[2021-02-10 10:51] paras-malhotra commented on #1012
@fanlei, I tried the exact same steps, but the failure I'm getting is not the same one:

[code]

Also, why do you need to cache config in the test environment?

[2021-02-10 18:29] fanlei commented on #1012
Thank you for looking at my report and the quick response, @paras-malhotra! I tried again from the beginning but got the same error "Illegal string offset 'count'" by the Telescope block. The reason I cache config with --env=testing is because I have separated database for automated testing data, and wanna make sure it's using the correct config according to https://laravel.com/docs/8.x/testing#th

[2021-02-11 09:48] driesvints commented on #1012
Hi there. We don't recommend caching your config when running tests. See:

https://laravel.com/docs/8.x/testing#environment

[2021-02-11 09:48] #1012 closed

[2021-02-12 09:09] fanlei commented on #1012
Hi @driesvints , I am fine to clear the config cache before running tests. But then, the two tables migrated by Telescope were gone/removed from the DB during testing. Any ideas about how to prevent the Telescope tables from been removed? Thanks!

[2021-02-12 09:36] driesvints commented on #1012
@fanlei no sorry. State like that shouldn't be preserved between tests. I think telescope might not be the right tool for you here.

[2021-02-13 06:48] fanlei commented on #1012
@driesvints Sorry to hear about that. I was using Telescope to monitor exceptions and dig into issues when testing fails.

[2021-02-15 16:30] driesvints commented on #1008
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2021-02-15 16:30] #1008 closed

[2021-02-16 15:43] RSpeekenbrink opened #1014 "Gate watcher does not take after interceptors into account"
- Telescope Version: 4.4.2
- Laravel Version: 8.27.0
- PHP Version: 7.4
- Database Driver & Version: MariaDB

### Description:
When I was using the Spatie Laravel Permission package I came to the conclusion that the Gate watchers for Laravel Telescope do not take the Gate interceptors into account. When I made an interceptor function to give a wildcard to users with the admin role, all gate calls

[2021-02-17 10:48] sananAhmad commented on #112
https://user-images.githubusercontent.com/16044388/108193685-8ac15c80-7137-11eb-9a5e-5cc71ce8ffe2.mp4

[2021-02-17 10:50] sananAhmad opened #1015 "Telescope not supported in lumen yet is there any solution?"
Telescope not supported in lumen yet  is there any solution persist? answer will be appreciate

[2021-02-17 18:12] driesvints commented on #1015
Hey @sananAhmad. Our first party packages are only supported in Laravel. We don't have any plans to make them compatible with Lumen.

[2021-02-17 18:12] #1015 closed

[2021-02-18 14:42] driesvints commented on #1014
Please provide all code in order to reproduce this issue, thanks.

[2021-02-19 02:23] hunglyadamo commented on #511
Hi @themsaid.

I also have the same problem. I have 2 laravel applications as follows:
- Admin: this is where I installed the telescope.
- API.
- Same DB
I have tried to mount the storage folders of these 2 apps together. However, the Telescope only displays the data of the admin application, not the API.
Do you have an example of this case?

[2021-02-19 11:32] RSpeekenbrink commented on #1014
Sorry I might should have done a little more research into the interceptors and the GateWatcher before creating the issue.

I found out it just has to do with the `after` interceptor, the before interceptor works fine. As it states in the laravel documentation the after interceptor will be called after all the other Authorization checks so it might be expected that Telescope doesn't take after int

[2021-02-19 11:42] olsgreen opened #1016 "Non-string model keys breaking tag insert"
- Telescope Version: 3.5.1
- Laravel Version: 6.20.16
- PHP Version: 7.4.14
- Database Driver & Version: MySQL 5.7.32

### Description:

A project we're working on is using binary based primary keys on a certain model. The current [formatter](https://github.com/laravel/telescope/blob/966d462c0d658b27560ea73279de3fb85c63a930/src/FormatModel.php#L17) assumes that the return from a call to a models `

[2021-02-19 12:40] driesvints commented on #1016
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2021-02-19 12:40] #1016 closed

[2021-02-19 12:50] olsgreen commented on #1016
@driesvints Your support policy states v6 bug fixes stop on September 7th, 2021? Telescope 4.x doesn't support v6?

[2021-02-19 16:47] danielrangelsa commented on #511
I Have the same problem. Multi Project and one database.

[2021-02-19 17:01] driesvints commented on #1014
Hey @RSpeekenbrink, thanks for that detailed explanation. That was helpful.

Were working on a specific fix for this by adding a new method to the Gate in Laravel that will serve as a specific fix to this problem. Will probably still be somewhere next week until we can push that through.

https://github.com/laravel/framework/pull/36329

[2021-02-19 17:06] WendellAdriel commented on #511
Hey people, if the tags can help you, I added this to the TelescopeServiceProvider register method:

[code]

[2021-02-21 14:12] sinnrrr opened #1017 "GET /telescope-api/requests throws 500"
- Telescope Version: 4.4.3
- Laravel Version: 8.28.1
- PHP Version: 8.0.2
- Database Driver & Version: php-mysql 2:8.0+80+ubuntu20.04.1+deb.sury.org+1

### Description:
Going to domain.com/telescope/requests throws 500

In DevTools saw that problem is in following route:
https://evoraid.test/telescope/telescope-api/requests?tag=&before=&take=50&family_hash=

[code]

### Steps To Reproduce:
[code]

[2021-02-22 09:26] driesvints commented on #1017
Please set up a repo which reproduces this issue with the minimum code needed. Please commit your custom changes separately from the base Laravel skeleton.

[2021-02-22 09:29] sinnrrr commented on #1017
Apparantly, doing fresh install of laravel, and moving all the business logic to it, then installing telecope resolved the issue. I think there were some package conflitcs. Thanks for sparing somw time for this issue.

[2021-02-22 09:29] #1017 closed

[2021-02-22 10:51] hunglyadamo commented on #511
Thank you, Its work.
required: 2 application need to same storage folder, and install telescope in both of app.

[2021-02-22 19:35] #1014 closed

[2021-02-23 15:32] valehasadli commented on #347
Thanks! It works! Warning, if you're using docker or sail environment, don't forget to run clear cache commands and or delete bootstrap cache folder files.

[2021-02-23 15:58] driesvints opened #1019 "Update to Mix v6"
Also make sure the build gets published in a non-git tracked directory inside the repo: https://github.com/laravel/telescope/blob/4.x/webpack.mix.js#L29

[2021-02-24 11:19] drashoor opened #1020 "filter based on more than one tag"
Is there any way to filter the entries based on more than one tag,
and if there is not, I think it is a beautiful feature.

[2021-02-24 15:12] Ronan-Lenor opened #1021 "[Feature Request] A Toolbar ?"
Hello,

i was wondering if we could have a toolbar at the bottom of a page, so we could have a quick view if a problem occur.
i know there is a package call "fruitcake/laravel-telescope-toolbar" but it doesn't work right now and i don't especially want to use a third party package anyway.
I think that a toolbar from " laravel/telescope " would be much more relevant.

thanks,

[2021-02-24 15:25] driesvints commented on #1021
No plans for this sorry.

[2021-02-24 15:25] #1021 closed

[2021-02-24 15:25] driesvints commented on #1020
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-02-24 15:25] #1020 closed

[2021-02-25 03:08] valehasadli commented on #347
This error still actual.

after `TELESCOPE_ENABLED=false` the `php artisan test` command is worked, but it's not the way to handle this issue.

I need a real solution to work at the same time with each functionality. Because after `TELESCOPE_ENABLED = false` command telescope does not work. And it's too much time every time turn on / turn off.

[2021-03-02 22:30] paras-malhotra opened #1022 "IncomingEntry::isFailedJob always returns false"
- Telescope Version: 4.4.4
- Laravel Version: 8.30.0
- PHP Version: 8.0.02
- Database Driver & Version: mySQL 8.0.22

Duplicate of https://github.com/laravel/telescope/issues/881 with reproducible steps on the latest version.

### Description:
`IncomingEntry::isFailedJob` never returns true. Failed jobs are always recorded as an update and not as inserts, which is quite understandable as the job e

[2021-03-04 07:51] rihardssceredins opened #1023 "Connecting to Redis during package discovery"
- Telescope Version: v4.4.4
- Laravel Version: v8.29.0
- PHP Version: 8.0.2
- Database Driver & Version:

### Description:
Hey,

Is it by design that Telescope is trying to connect to Redis during package discovery when running `composer install`? 🤔
I'm using docker-compose for my local environment and it's really driving me nuts that I've to start all services before I can install composer packag

[2021-03-04 09:07] driesvints commented on #1023
Can you post a full stacktrace so we can pinpoint the line where Telescope is trying to connect to Redis?

[2021-03-04 09:18] rihardssceredins commented on #1023
@driesvints sorry, didn't think of it before. Here you go:

[code]

[2021-03-05 15:52] driesvints commented on #1023
@rihardssceredins if you move these lines: https://github.com/laravel/telescope/blob/4.x/src/Watchers/DumpWatcher.php#L43-L45

To right above here: https://github.com/laravel/telescope/blob/4.x/src/Watchers/DumpWatcher.php#L51

Does that fixes your issue?

[2021-03-05 16:58] farhad321 commented on #927
I worked on installing a telescope for about 2 months.
After many failures
To solve this problem, you must remove the telescope tables from the database
Execute the following commands
[code]

[2021-03-08 07:43] rihardssceredins commented on #1023
@driesvints works like a charm, thank you. ✨ Opened a PR: https://github.com/laravel/telescope/pull/1025

[2021-03-08 10:11] driesvints commented on #1023
cool, thanks!

[2021-03-08 10:11] #1023 closed

[2021-03-08 13:56] driesvints commented on #1022
Hey @paras-malhotra, I talked to @themsaid and we think the first option is probably the best one. If there's a chance to let EntryUpdate extend IncomingEntry then that could maybe be a solution.

[2021-03-08 17:03] paras-malhotra commented on #1022
Sure thanks @driesvints, I'll look into this towards the end of the week and send across a PR. 👍

[2021-03-10 12:52] byGits opened #1026 "Enabling Telescope causes dd() helper to stop working!"
- Telescope Version: 4.4.5
- Laravel Version: 8.32.1
- PHP Version: 7.4.12
- Database Driver & Version: MySQL 5.7.32

### Description:
When I enable Telescope, Laravel's `dd()` helper function stops working! (it does exit() the code, but displays only a blank white page with nothing in the source)

For example I tried `dd('test')`, the page turns blank, but as soon as I change `.env` file and set

[2021-03-10 13:20] #1026 closed

[2021-03-10 13:21] driesvints commented on #1026
See the answers above.

[2021-03-10 16:33] robtesch commented on #1026
Hi guys, I've only just noticed this behaviour myself (only spent about 3 hours debugging it!). It makes complete sense for "dump" calls, but for surely not for "dd".

Is there any chance this behaviour can be changed specifically for "dd" calls?

[2021-03-10 19:26] byGits commented on #1026
Hi @robtesch,

After some searching, I realized you can easily disable it by adding `TELESCOPE_DUMP_WATCHER=false` to my `.env` file

IMHO this should be the default behavior though, and only enabled if needed, but I'm still grateful the option is there.

[2021-03-10 19:35] robtesch commented on #1026
That's true (and I saw that higher up in the thread too) but in an ideal
world calls to "dump" would get picked up by telescope but calls to "dd"
would operate normally.

I looked into the code for this though and it doesn't look like that's
going to be particularly easy to do without a bunch of hackery, so simply
disabling the watcher is probably the way to go for now.

On Wed, 10 Mar 2021, 19:26

[2021-03-10 20:40] LeonardoLpds opened #1027 "Filter requests per more than one tag"
Should be nice if we can filter requests per more than one tag.
For instance, I created a tag for uri, so I can filter **uri:/login** then I created a tag for client id to filter requests like that **id:123**, What I want to do is search both tags simultaneously

[2021-03-11 09:16] driesvints commented on #1027
Heya, if you want to propose something like this, just feel free to send in a PR so we can look at the code needed to make this happen. Thanks

[2021-03-11 09:16] #1027 closed

[2021-03-11 13:02] webcodecs opened #1028 "Since Telescope Version 4.4.5 the VarDumper (dd, dump) doesnt work"
- Telescope Version: 4.4.5
- Laravel Version: 8.32.1
- PHP Version: 7.3.24
- Cache-Driver: redis

### Description:
I was working on my project with laravel/framework 8.28.1 and telescope 4.4.3. Everything was fine. After a complete composer update, i noticed that the output of the VarDumper doesnt work anymore. The application dies with dd but i doesnt get any output. I rolled back the composer up

[2021-03-11 13:02] driesvints commented on #1028
This is an issue with Symfony. Please report on their tracker.

[2021-03-11 13:02] #1028 closed

[2021-03-11 13:05] webcodecs commented on #1028
@driesvints I dont understand. The telescope version is changing and its a problem with symfony? The new VarDumper versions are just spelling corrections. Can you please give me an idea, which symfony package do you mean, causes the error?

[2021-03-11 13:10] webcodecs commented on #1028
And if i disable the DumpWatcher (which changed in laravel/telescope 4.4.5) my dumps are working. Please consider to reopen this issue, because i think its an issue with the dumpWatcher and not with symfony.

[2021-03-11 13:22] Levivb opened #1029 "`dd` broken since telescope:dump-watcher cache check is moved to `VarDumper ::setHandler` callback"
Hey

This commit: https://github.com/laravel/telescope/commit/897d2e03278718551badede7ed612893d61b8e49
broke the `dd` utility in Laravel (with Ignition)

I'm under the impression `$this->cache->get('telescope:dump-watcher')` only resolves to `true` when the dump call is executed via `src/Http/Controllers/DumpController.php:44`, since only in that location the `telescope:dump-watcher` is set to `tr

[2021-03-11 13:23] webcodecs commented on #1028
Okay i researched a bit more. The problem is that with an enabled DumpWatcher all dumps were collected to telescope. That is working fine if your are using dump(). But if you are using dd(), the applications exits without sending the dump to telescope

[2021-03-11 13:37] driesvints commented on #1028
Sorry, I misunderstood this at first. We reverted the change that broke this and tagged 4.4.6. Thanks for reporting.

[2021-03-11 13:38] driesvints commented on #1029
Thanks. We tagged v4.4.6 that reverts the change. Please fill out the issue template next time.

[2021-03-11 13:38] #1029 closed

[2021-03-11 13:38] driesvints commented on #1026
We tagged v4.4.6 that should fix this.

[2021-03-11 13:40] Levivb commented on #1029
Oh, an issue template was not provided when creating an issue 🤔  Would have done it otherwise of course 👍

Thanks for the quick rollback!

[2021-03-11 13:46] driesvints commented on #1029
@Levivb it wasn't for you?

![Screenshot 2021-03-11 at 14 46 13](https://user-images.githubusercontent.com/594614/110796715-8db3f680-8278-11eb-8e58-9a44b35c395a.jpg)

[2021-03-11 13:52] Levivb commented on #1029
No, I think it has something to do with the automatic logout (https://github.blog/2021-03-08-github-security-update-a-bug-related-to-handling-of-authenticated-sessions/) which caused me to login again.

To reproduce:
1. Open incognito window and navigate to https://github.com/laravel/telescope/issues
2. Click on `New issue`
3. A registration modal opens up
4. Click on "Already on GitHub? Sign in t

[2021-03-11 13:58] driesvints commented on #1029
@Levivb that's a very interesting edge case. I'd indeed not expect people to end up with a blank issue since we've explicitly disabled that: https://github.com/laravel/telescope/blob/4.x/.github/ISSUE_TEMPLATE/config.yml#L1

I'll forward this to GitHub.

[2021-03-11 23:17] chrisfritsche opened #1032 "Suggestion: rename "queued" tag for successfully mailable (if it is not my mistake)"
Hello everyone!

I don't know if something is missing in my implementation but, recently the "queued" tag assigned to my successfully mailable's has caused some inconvenience. So I would like to suggest that, like the Jobs tag, this tag also be changed to "processed", since the term "queued", in my opinion, is closer to the idea that the entry was made, than the output generated successfully.

But

[2021-03-12 09:55] driesvints commented on #1032
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-12 09:55] #1032 closed

[2021-03-12 13:52] driesvints opened #1033 "Update Vue to v3"
Packages that need updating:

- https://github.com/leezng/vue-json-pretty

[2021-03-15 10:42] driesvints commented on #1022
@paras-malhotra feel free to send in that PR when you can 👍

[2021-03-15 10:42] #1022 closed

[2021-03-22 17:33] #1019 closed

[2021-03-29 18:31] barryvdh commented on #711
For future reference and googlers, you can use the `afterStoring` hook:

[code]

[2021-04-05 06:41] J2TeamNNL opened #1041 "Add Explain Query"
The Query Details will be greater when have option enable Explain Query below the query

[2021-04-05 10:12] driesvints commented on #1041
Feel free to attempt a PR

[2021-04-05 10:12] #1041 closed

[2021-04-06 16:37] mayken opened #1042 "Freezes the page for detail sql query"
- Telescope Version: 4.4.7
- Laravel Version: 8.36.0
- PHP Version: 7.3.24
- Database Driver & Version: PostgreSQL 12

### Description:
After update to latest release i have bug when viewing detailed information about a SQL query, the page freezes. Downgrade to version 4.3.2 helped me.

[2021-04-06 16:54] driesvints commented on #1042
Did you republish the assets after updating? https://laravel.com/docs/8.x/telescope#upgrading-telescope

[2021-04-06 17:22] Namoshek opened #1043 "[Octane] Telescope logs requests to Telescope dashboard"
- Telescope Version: 4.4.4
- Laravel Version: 8.36.0
- PHP Version: 8.0.3
- Database Driver & Version: SQL Server (latest)

### Description:
After installing Octane using the Swoole driver (literally the only config), I noticed that Telescope is logging the own requests from the Telescope dashboard. The request times are sick :rocket:, but I have not seen this before. I can confirm this does not h

[2021-04-06 17:33] taylorotwell commented on #1043
Update your Telescope installation please.

[2021-04-06 17:33] #1043 closed

[2021-04-06 18:11] JexPY commented on #1042
Got the same problem.

- Telescope Version: 4.4.7
- Laravel Version: 8.36.0
- PHP Version: 7.4.13
- Database: Mysql 8.0.22

p.s
I have republished assist after updating, had no problem before only with Telescope@4.4.7.

[2021-04-06 18:55] mayken commented on #1042
Yes

[2021-04-06 20:44] #1042 closed

[2021-04-06 20:49] driesvints commented on #1042
Released v4.4.8 with a fix. Thanks for reporting 👍

[2021-04-06 22:18] xx1196 commented on #112
needddddd telescope to lumen, lumen is awesome but very ignored for the comunity

[2021-04-08 18:10] tomirons opened #1046 "Extra Whitespaces in SQL format"
@driesvints with the update to `sql-formatter` there are now whitespaces where they shouldn't be. You can fix this by setting the `language` on the formatter to `mysql` but I'm not sure how it would act with a _postgres_ database.

Here is the new output:
[code]

_Originally posted by @tomirons in https://github.com/laravel/telescope/issues/1039#issuecomment-816020331_

[2021-04-08 21:10] driesvints commented on #1046
Escalated to sql-formatter. Next time please fill out the issue template.

https://github.com/zeroturnaround/sql-formatter/issues/139

[2021-04-09 00:21] tomirons commented on #1046
@driesvints my apologies, I created it straight from the comment I made on the related pull request. I'll be sure to use the template next time.

[2021-04-09 05:14] rcerljenko opened #1047 "Payload, Session and Response Format"
- Telescope Version: 4.4.8
- Laravel Version: 8.36.2
- PHP Version: 7.4.16
- Database Driver & Version: MySql 8.0.21

### Description:

With the release of 4.4.7 version in Request Details view the Payload, Session and Response tabs no longer contain whitespace in JSON dump.

### Steps To Reproduce:

Execute any request with Payload or Response JSON data.

[2021-04-09 09:14] Eldair opened #1048 "Prune command started throwing exception when telescope is disabled"
- Telescope Version: 4.4.8
- Laravel Version: 8.36.2
- PHP Version: 8

### Description:
After the latest update `telescope:prune` started throwing exception `There are no commands defined in the "telescope" namespace` when telescope is disabled. It might be a desired effect but it is not documented in changelog so users could add proper check for when command is scheduled.

### Steps To Reproduce:

[2021-04-09 09:18] driesvints commented on #1048
This has already been fixed and will be tagged next Tuesday at the latest: https://github.com/laravel/telescope/pull/1045

[2021-04-09 09:19] #1048 closed

[2021-04-09 09:28] driesvints commented on #1047
Thanks, this PR will fix this. Apparently vue-json-pretty introduced a breaking change on a minor release 😞 https://github.com/leezng/vue-json-pretty/releases/tag/v1.7.0

https://github.com/laravel/telescope/pull/1049

[2021-04-09 11:29] mvehar commented on #335
Any fololow-up on this one?

[2021-04-09 12:46] #1047 closed

[2021-04-13 08:48] bramceulemans commented on #577
Still happening in Laravel 8.

[2021-04-13 14:18] driesvints commented on #1046
I've temporarily downgraded sql-formatter to fix the issue: https://github.com/laravel/telescope/pull/1050

[2021-04-13 14:23] #1046 closed

[2021-04-14 15:42] jvbalcita opened #1051 "net::ERR_CONNECTION_REFUSED when loading the /telescope page"
- Telescope Version: 4.4.9
- Laravel Version: 8.37.0
- PHP Version: 8.0.3
- Database Driver & Version: MySQL 5.5

### Description:

New fresh install Telescope on Laravel 8 is not showing the page correctly,
I'm only seeing the a big icon of Laravel telescope on the screen also from the console log there is an error message

GET http://localhost/vendor/telescope/app.css?id=d2d43f24f2a54d31e084 net

[2021-04-15 08:35] driesvints commented on #1051
![Uploading Screenshot 2021-04-15 at 10.34.51.jpg…]()

[2021-04-22 09:59] zmudzinski opened #1052 "Can't run migrations for Telescope"
- Telescope Version: 4.4
- Laravel Version: 8.38
- PHP Version: 8.0.3
- Database Driver & Version: MySql 5.7

### Description:
After installing Laravel Telescope migrations are not running.
Telescope installed successfully. After `php artisan` the commands shows on the list. Also `php artisan telescope:clear` can be run, but the missing table in database Exception is thrown:
[code]

### Steps To R

[2021-04-22 10:06] driesvints commented on #1052
Works fine for me:

![Screenshot 2021-04-22 at 12 05 35](https://user-images.githubusercontent.com/594614/115696626-2a32e380-a363-11eb-93e2-dbf4660e4ce6.jpg)
![Screenshot 2021-04-22 at 12 06 05](https://user-images.githubusercontent.com/594614/115696632-2b641080-a363-11eb-87a2-91b1238ae810.jpg)

[2021-04-22 10:06] #1052 closed

[2021-04-27 13:39] raisonon commented on #577
@bramceulemans Same here - any ideas on manually clearing them? Where is the telescope cache these must be saved in?

[2021-04-27 13:41] bramceulemans commented on #577
I have clue to be honest. All the logs are in the telescope table.

[2021-04-27 13:43] raisonon commented on #577
Looks like php artisan telescope:clear works

[2021-04-28 15:47] joshmakar opened #1053 "ResizeObserver loop limit exceeded"
- Telescope Version: 4.3.3
- Laravel Version: 8.18.1
- PHP Version: 7.4.10
- Database Driver & Version: MySQL: 8.0.21

### Description:

My Bugsnag is reporting an error occasionally `ResizeObserver loop limit exceeded`. After some research, it appears to be something to do with this `window.requestAnimationFrame`, [see here](https://stackoverflow.com/questions/49384120/resizeobserver-loop-limit-e

[2021-04-28 15:55] Tarpsvo commented on #221
I was experiencing the same issue. I also noticed that with Telescope enabled, the used memory would grow little by little and never get garbage collected during the long job.

I eventually optimised the number of SQL queries inside the job and disabled Telescope for the duration of the job:

[code]

Only then did the job actually finish. Otherwise the PHP process died (I think?) without any error

[2021-04-28 18:22] driesvints commented on #1053
Thanks. Since this isn't breaking any code I guess there's nothing much to do about it.

[2021-04-28 18:22] #1053 closed

[2021-04-30 14:43] mrchrisoliver opened #1054 "Malformed UTF-8 characters, possibly incorrectly encoded"
- Telescope Version: 4.4
- Laravel Version: 8.12
- PHP Version: 7.4.16
- Database Driver & Version: SQLSRV MSSQL 2017 14.0.3048.4

### Description:
On Telescope pages for Requests, Views, etc keep showing "Scanning...", and the network tab shows "Malformed UTF-8 characters, possibly incorrectly encoded"
This is on my iMac. I have close to similar setup (as I can get) on my Macbook and Telescope ru

[2021-04-30 15:01] driesvints commented on #1054
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2021-04-30 15:01] #1054 closed

[2021-05-03 13:54] rakishii13 opened #1056 "500 error to load failed Jobs."
- Telescope Version: 4.4.9
- Laravel Version: 8.40.0
- PHP Version: 7.4.3
- Database Driver & Version: mysql

### Description: It seems that new bug fix on horizon https://github.com/laravel/horizon/issues/1007 has caused telescope to fail as it does not know how to process the new jobs.

### Steps To Reproduce:

1. Update Horizon to v5.7.6
2. Stay on the above version of Telescope.
3. Trigger a f

[2021-05-03 16:18] arxeiss opened #1057 "Cannot run Telescope commands outside console"
- Telescope Version: 4.4.9
- Laravel Version: 8.40.0
- PHP Version: 7.4.x

### Description:
This is related to changes in #1048 . Currently, you cannot run Telescope commands from code, if the code is not executed from console. I have created some helpers which I can execute from the admin interface. But it is failing because commands are not registered then.

### Steps To Reproduce:
Put this code

[2021-05-03 23:44] JonathanGuo opened #1058 "Add support of nonce for inline script"
### Background

We have CSP headers for our project. The headers we enable for the local environment as well to ensure everyone follows the best practice.  However, since we are using a random `nonce` value, the telescope's inline script no longer works :

The script defines the global telescope object in the view:

[code]

### Proposal:

Add a method to register a nonce, e.g.

[code]

Please let

[2021-05-04 05:07] paras-malhotra commented on #1058
I think we would first need to send a PR at the framework level first for a simple way to deal with nonces. Then, all Laravel packages like Horizon, Telescope, etc. can consume the API.

[2021-05-04 09:05] JonathanGuo commented on #1058
That's a good idea. But some packages like `spatie/laravel-csp` already provides a good solution for CSP directives with a global `csp_nonce()` helper function. In this case, we are most likely making a PR just for internal use.

[2021-05-06 07:42] cweiske opened #1059 "Support non-PDO connections in QueryWatcher"
In our laravel application we send GraphQL queries to fetch data, and log those queries via `\Illuminate\Database\Events\QueryExecuted` events into Sentry and the Laravel Debugbar.

With Telescope this fails, because our dummy Connection class returns `null` in `getPdo()`.

Laravel debugbar already caters for this use case by checking if the connection actually returns a PDO instance:
https://gith

[2021-05-06 09:51] driesvints commented on #1059
I don't think GraphQL queries belong in the Query watcher. The Query watcher is catered to databases, not API requests.

[2021-05-06 09:51] #1059 closed

[2021-05-06 09:52] driesvints commented on #1058
Please propose something with a PR to laravel/framework.

[2021-05-06 09:52] #1058 closed

[2021-05-06 09:52] driesvints commented on #1056
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2021-05-06 09:52] #1056 closed

[2021-05-06 10:18] rakishii13 commented on #1056
It is a big. I gave you the steps to reproduce. Did you try to reproduce?

[2021-05-06 11:11] driesvints commented on #1056
@rakishii13 this is the only report we've gotten for this. I believe if the issue you reported actually happened we'd get lots more reports since it's widely used. Please try a support channel first.

[2021-05-06 12:55] JonathanGuo commented on #1058
No worries. Thanks for the advice. I've made a PR https://github.com/laravel/framework/pull/37284. Please let me know if anything needs to change.

[2021-05-06 13:30] driesvints commented on #1058
Looks like Taylor doesn't wants to add this at this time, sorry.

[2021-05-06 13:32] cweiske commented on #1059
I disagree. It does not matter if I send my queries via SQL or an REST API. They are still queries.

[2021-05-06 13:33] driesvints commented on #1059
@cweiske sorry we disagree on that. I don't think that's the same thing.

[2021-05-06 14:45] rakishii13 commented on #1056
Okay, I will take a look, Considering that that Horizon version came out only few days ago, maybe it will take some time for the issues to appear.

[2021-05-09 21:55] monsterdream commented on #1051
Indeed, it's stopped working for me also. Same errors. Only thing I changed it was switch to docker runtime since I'm using Laravel Vapor. It's working fine on local development, but not for production anymore.

[2021-05-09 22:09] Menelion commented on #493
Having the same error on dev, no luck.

[2021-05-10 08:26] driesvints commented on #1057
I think in your case it's better to resolve `Laravel\Telescope\Contracts\PrunableRepository` and call the `->prune` method.. These commands are really meant to be run either through the CLI or on the scheduler.

[2021-05-10 08:26] #1057 closed

[2021-05-12 06:46] marijnbent commented on #222
For others viewing this at a later stage, I forgot that I added `TELESCOPE_ENABLED=false` to the .env 🙄

[2021-05-19 09:24] ben007zxbaj opened #1061 "Not working on MongoDB"
exception: "Error"
file: "/var/www/html/laravel/vendor/laravel/framework/src/Illuminate/Database/Connection.php"
line: 338
message: "Call to a member function prepare() on null"

[2021-05-19 09:34] #1061 closed

[2021-05-19 14:43] bakerkretzmar opened #1062 "'Assets not published' exception thrown with default Vapor setup"
- Telescope Version: 4.4.9
- Laravel Version: 8.41.0
- PHP Version: 8.0.3
- Database Driver & Version: n/a

### Description:

By default with a fresh Laravel app running on Vapor, it's not possible to view Telescope at all. The "Telescope assets are not published" exception is always thrown, because it checks `public_path('vendor/telescope/mix-manifest.json')` which doesn't exist on the lambda run

[2021-05-19 15:02] driesvints commented on #1062
I don't think this is really a Telescope issue but a Vapor issue. Let's see how your PR goes.

[2021-05-19 15:02] #1062 closed

[2021-05-20 12:29] #1033 closed

[2021-05-22 16:16] iamohd opened #1064 "Refactoring to Tailwindcss and Vue 3"
Do you consider refactoring this to Tailwindcss & Vue 3?
If yes, I can work on it and submit a PR.

[2021-05-22 16:20] driesvints commented on #1064
Not atm no. Thanks!

[2021-05-22 16:20] #1064 closed

[2021-05-27 09:09] juanparati opened #1065 "Telescope breaks when attempt quote the bindings from an PDO_ODBC connection"
- Telescope Version: 4.4
- Laravel Version: ^8.0
- PHP Version: 8.0
- Database Driver & Version: PDO_ODBC with unixODBC

### Description:
The following error is raised by Telescope when a query is recorded:

`PDOException with message 'SQLSTATE[IM001]: Driver does not support this function: driver does not support quoting'`

The reason is that telescope uses `$event->connection->getPdo()->quote($b

[2021-05-27 09:54] driesvints commented on #1065
PDO_ODBC is not supported by Laravel, sorry.

[2021-05-27 09:55] driesvints commented on #1065
Sorry, I'm mistaken. It is supported: https://laravel.com/docs/8.x/database#mssql-configuration

[2021-05-27 09:55] driesvints commented on #1065
Can you send in a PR for that?

[2021-05-27 10:02] juanparati commented on #1065
I will do it.

[2021-05-27 10:02] driesvints commented on #1065
Thanks! :)

[2021-05-28 11:16] hallowcard13 commented on #64
Works for me thank you, my only concern is that, does it make some kind of open door for attackers ?

[2021-05-28 19:16] alignwebs opened #1067 "Bookmark Entries"
Hey, it will be helpful if we can have the ability to **bookmark telescope entries** for future use.

[2021-05-28 19:38] driesvints commented on #1067
No plans for this, sorry.

[2021-05-28 19:38] #1067 closed

[2021-06-01 08:17] daison12006013 opened #1068 "Illegal string offset 'count' under ModelWatcher"
- Telescope Version: v4.4.3
- Laravel Version: 8.14.0
- PHP Version: v7.4.16
- Database Driver & Version: MySQL Ver 14.14 Distrib 5.7.33-36, for debian-linux-gnu (x86_64) using  7.0

### Description:
I was trying to simulate the telescope thru test cases (ton of test cases functional/unit) with telescope enabled, moreover I am getting this error

[code]

I came across debugging the `IncomingEntry.

[2021-06-01 10:11] driesvints commented on #1068
What database are you using? Are you using a custom model for Telescope? For some reason the JSON casting didn't work on that record.

[2021-06-01 10:16] daison12006013 commented on #1068
@driesvints, sorry I forgot to put the DB name, it's mysql.

Can you ellaborate? i'm using Eloquent
[code]

From which line of code the casting you're referring to?

[2021-06-01 10:33] driesvints commented on #1068
Nvm, forgot you can't customize this in Telescope.

https://github.com/laravel/telescope/blob/e098dd11a04f2964169939c1825ed632e779d813/src/Storage/EntryModel.php#L33

I'm investigating this.

[2021-06-01 10:37] daison12006013 commented on #1068
Found the solution @driesvints

[code]

We can't directly modify the collection it's like a pointer, I guess we should retain the original content as an array.

[2021-06-01 12:23] #1065 closed

[2021-06-01 19:13] jltrevizon opened #1069 "error showing the date of the occurrence"
- Telescope Version:  "4.4"
- Laravel Version: "8.44.0"
- PHP Version: 7.3.20
- Database Driver & Version: ms-sql (MS SQL Server)

### Description:
error showing the date of the occurrence

### Steps To Reproduce:
update laravel/framework from 7 to 8, install telescope with command: composer require laravel/telescope

![image](https://user-images.githubusercontent.com/22945459/120378005-df09da00-c

[2021-06-01 19:29] driesvints commented on #1069
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2021-06-01 19:29] #1069 closed

[2021-06-01 19:45] jltrevizon commented on #1069
the error comes from the migration in the field "created_at" of type dateTime that in sql server according to the format could be dd-mm-yyyy or mm-dd-yyyy this is due to the default format of sql server, in the telescope configuration It should have an option to indicate the date format to record in the database.

[2021-06-01 19:46] jltrevizon commented on #1069
Another option is to change the database driver from telescope to mysql and separate it from the application database.

[2021-06-02 20:27] appml opened #1070 "$assetsAreCurrent is undefined"
- Telescope Version: 4.4.10
- Laravel Version: 8.44.0
- PHP Version: 7.4.3
- Database Driver & Version: mysql  Ver 15.1 Distrib 10.4.14-MariaDB

### Description:

Getting the error:

`$assetsAreCurrent is undefined`

The function is now gone from `Telescope.php`, which probably is the culprit.

### Steps To Reproduce:

Just need to load `telescope/layout.blade.php` in browser.

[2021-06-02 22:49] tm1000 opened #1071 "Memory Leak with Octane"
- Telescope Version: 4.4.10
- Laravel Version: 8.44.0
- PHP Version: 8.0.6
- Database Driver & Version: MariaDB 10

### Description:

When Telescope is enabled in AppServiceProvider (following: https://laravel.com/docs/8.x/telescope#local-only-installation) as follows:

[code]

The memory output from Octane slowly increases over time:

[code]

Once telescope is disabled in (removed) from AppServic

[2021-06-03 03:17] az-iar commented on #1070
@appml Had the same issue. Fixed this by running `php artisan view:clear`.

[2021-06-03 08:11] driesvints commented on #1070
Run the above.

[2021-06-03 08:11] #1070 closed

[2021-06-03 16:50] themsaid commented on #1071
The leak is in facade/ignition. Fixed https://github.com/facade/ignition/pull/393

[2021-06-03 16:50] #1071 closed

[2021-06-03 23:00] Spice-King opened #1072 "getCallerFromStackTrace returns null, if stack has all vendor paths and ignore_packages is true"
- Telescope Version: 4.4.10
- Laravel Version: 8.44.0
- Laravel Octane Version: 1.0.3
- Swoole Version: 4.6.7
- PHP Version: 8.0.6
- Database Driver & Version: MS SQL Server 12.0 on Windows, sqlsrv 5.9.0

This sucker drove me to *near* madness. I could not get yasd to work for me, so I was flying blind at poking around and dumping trash to my logs. It would disappear if I dragged it all back to ph

[2021-06-04 14:07] Spice-King commented on #1072
There a test case: https://github.com/Spice-King/telescope-1072

[2021-06-07 03:57] kdurant opened #1074 "Match file name only when searching"
This option is really useful when the file name and file path are similar

[2021-06-07 08:03] driesvints commented on #1074
If you want to propose something feel free to attempt a PR 👍

[2021-06-07 08:03] #1074 closed

[2021-06-07 08:54] Algeneralo opened #1075 "Deadlock detected for telescope"
- Telescope Version: 4.0
- Laravel Version: 8.31
- PHP Version: 7.4.10
- Database Driver & Version: postgresql

### Description:
As you can see here in [flare](https://flareapp.io/share/v5pzyD6P#F27), I faced this issue many times, and have no idea what is that

[2021-06-07 08:56] driesvints commented on #1075
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-07 08:56] #1075 closed

[2021-06-07 08:58] Algeneralo commented on #1075
@driesvints  Isn't a bug with telescope itself?

[2021-06-09 12:26] MtDalPizzol commented on #539
IMO, this should not be the expected behavior.  Telescope should provide an option to set it's asset_url.

For example: I'm using a webpack-dev-server to serve my assets during development directly from memory. This server has it's on URL, which I'm using as the ASSET_URL on my .env file and will not be served from laravel's `public` directory.

So, Telescope can't use ASSET_URL as it's own asset_

[2021-06-10 18:17] driesvints commented on #1072
We only support SQL Server 2017 and up: https://laravel.com/docs/8.x/database#introduction

[2021-06-10 18:17] #1072 closed

[2021-06-10 21:00] Spice-King commented on #1072
Test case repo demos it on SQLite, and this blows up far before SQL code anyway.

[2021-06-11 13:11] Spice-King commented on #1072
@driesvintsm, you can can skip using my docker setup, I just included it as that was my workflow. All it is is the base PHP-FPM image with Swoole installed. I just never used Sail since I made my own workflow before Sail existed, but here you go, I updated my test repo to use [Sail instead](https://github.com/Spice-King/telescope-1072/tree/sail), which still makes Telescope blow up with MySQL 8.0.

[2021-06-11 14:49] myckhel opened #1076 "Telescope does not record in production environment"
- Telescope Version: v4.4.10
- Laravel Version: v8.46.0

### Description:
Upon enabling telescope in production environment still it does not record requests or any other watches.

![Screenshot 2021-06-11 at 15 42 03](https://user-images.githubusercontent.com/34090541/121704728-ebe8b380-cacb-11eb-859c-be9d6923332d.png)

### Steps To Reproduce:
- switch environment to production
- watch telescope r

[2021-06-11 14:49] driesvints commented on #1076
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-11 14:49] #1076 closed

[2021-06-11 19:41] myckhel commented on #1076
Keep discouraging people on reporting issues.

I never had the courage to report the issue at first because i know what the response would be, i just decided to try my luck.

You think i will just waste my time to create an unnecessary issue?

You just close issues without checking if the problems exists.

Atleast leave it opened and let the community contribute to the issue rather than closing it

[2021-06-13 11:39] daison12006013 commented on #1068
It seems hard to replicate for started project,

I will close this for now and will check see more time to time.

[2021-06-13 11:40] #1068 closed

[2021-06-15 06:30] keizah7 opened #1077 "Undefined variable: assetsAreCurrent"
- Telescope Version: 4.4.10
- Laravel Version: 8.46.0
- PHP Version: 7.4.15
- Database Driver & Version: mysql  Ver 8.0.23

### Description:
[code]

### Steps To Reproduce:
https://app.url/telescope

[2021-06-15 07:26] driesvints commented on #1077
Clear your cached views and make sure any published telescope assets are up to date

[2021-06-15 07:26] #1077 closed

[2021-06-17 02:20] jny986 commented on #507
Just incase anyone finds this and is looking for an answer.
I had the same issue with Telescope and AWS/SQS queues and found that the problem was fixed by restarting the queue workers.

[2021-06-18 05:17] rcerljenko opened #1079 "Client Request Watcher fails when there's a file upload"
- Telescope Version: 4.5.0
- Laravel Version: 8.47.0
- PHP Version: 7.4.20
- Database Driver & Version: MySQL 8.0.21

### Description:

Error happens in Watchers/ClientRequestWatcher.php on line 162 with message `strlen() expects parameter 1 to be string, resource given`. It happens when there's a file upload attached to the request.

[2021-06-18 09:35] driesvints commented on #1079
Ping @gdebrauwer

[2021-06-18 20:56] #1079 closed

[2021-06-19 16:37] madsem commented on #818
I ran into this issue today. Had up to 145 sleeping vapor connections and it blew apart my db instance pretty much.
(Which had no other live traffic)

We're running Telescope in production in default config (except for access config).

This wasn't an issue, but today I added Laravel's batch job table and used Job Batching in one Job class.
Right after I deployed the DB connections started to go cr

[2021-06-23 16:25] denjaland opened #1081 "Telescope on vapor issue"
- Telescope Version: 4.5.1
- Laravel Version: 8.48.0
- PHP Version: vapor php-8.0:al2
- Database Driver & Version:

### Description:
To support multi tenancy, whenever we dispatch a queued job, we are adding some payload information on it.
One of these details is a reference to the tenant that the user was working on when the jobs gets dispatched:

[code]

Whenever a job is being picked up from th

[2021-06-24 06:50] ducvu91 commented on #1076
Hello,
i have same Issue.
My telescope not work on the production environment, not need view but at leat it must insert record to DB. Not thing.
Please help me how to enable insert record in production environment.

[2021-06-24 08:17] driesvints commented on #1081
Hi @denjaland. Since there's no actionable way for us to reproduce this I'm going to have to close this one. Please try a support channel and when you find a way to reproduce this feel free to open a new ticket. Thanks

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord

[2021-06-25 05:24] rcerljenko opened #1082 "Client Request Watcher fails when there's a file upload (again)"
- Telescope Version: 4.5.1
- Laravel Version: 8.49.2
- PHP Version: 7.4.21
- Database Driver & Version: MySQL 8.0.21

### Description:

Hi guys,

This is a followup on issue https://github.com/laravel/telescope/issues/1079 that's been fixed by the [4.5.1](https://github.com/laravel/telescope/pull/1080) release but it's actually not totally fixed.
Now I get the error message in the same file (`Watc

[2021-06-25 08:04] driesvints commented on #1082
Ping @gdebrauwer

[2021-06-25 16:39] gdebrauwer commented on #1082
@rcerljenko can you share a code example of the Http Client request you are executing?

[2021-06-26 06:47] rcerljenko commented on #1082
@gdebrauwer sure here it is:
[code]

[2021-06-29 07:01] rcerljenko commented on #1082
@gdebrauwer to give even more context here, both `$destFileUrl` and `$srcFileUrl` are public links to AWS S3 bucket files so this API call should just replace one with another...

[2021-07-01 07:19] neilgilmour commented on #818
I'm so glad i stumbled on this issue. I had the same thing happen to me - default telescope, latest Vapor packages.

I even spun up the biggest RDS instance available just to increase my max connections while i processed a load of jobs.

Disabling Telescope solved this for me, which is a real shame as Telescope is invaluable!

[2021-07-01 13:57] ivanomatteo opened #1083 "loop/crash when using tag with sanctum"
- Telescope Version: 4.5.1
- Laravel Version: 8.49.0
- PHP Version: 7.4.20
- Sanctum: 2.11.2
- Database Driver & Version:  MySql 5.7

### Description:

when using Sanctum middleware EnsureFrontendRequestsAreStateful,
the current user is authenticated with web guard,
and an ajax request is performed, triggering the sanctum middleware (EnsureFrontendRequestsAreStateful)

if I try to access to curren

[2021-07-02 08:30] driesvints commented on #1082
@gdebrauwer can you have another look at this?

[2021-07-02 09:18] driesvints commented on #1083
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and I'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https:

[2021-07-02 09:18] #1083 closed

[2021-07-02 17:46] gdebrauwer commented on #1082
I'm currently on vacation so I have not found the time yet to have a look at this issue 😞

[2021-07-02 17:53] driesvints commented on #1082
@gdebrauwer dont worry about it. Enjoy your vacation 🙂

[2021-07-05 06:51] thomasmokuaomweri2011 commented on #954
If auto-discovery is not enabled, then add `Laravel\Telescope\TelescopeServiceProvider` to config/app.php
Feel free to also add the alias

[2021-07-05 10:11] nogamenofun98 opened #1084 "Http client watcher didnt capture anything"
- Telescope Version: 4.5.1
- Laravel Version:  8.32.1
- PHP Version: 7.4.9
- Database Driver & Version: 8.0.21

### Description:
Http client request didn't record any http client api call.
![image](https://user-images.githubusercontent.com/9070825/124455466-3522df00-ddbc-11eb-8e33-f5b4fd985621.png)

With the Http client ( i calling with Illuminate\Support\Facades\Http)  get call like this:
![image

[2021-07-05 10:23] driesvints commented on #1084
Works fine for me:

[code]

![Screen Shot 2021-07-05 at 12 22 46](https://user-images.githubusercontent.com/594614/124457110-bf068400-dd8b-11eb-8d69-0150d4946dfd.jpg)

Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.

[2021-07-05 10:23] #1084 closed

[2021-07-05 10:47] nogamenofun98 commented on #1084
![image](https://user-images.githubusercontent.com/9070825/124459922-4cb09680-ddc1-11eb-9e1b-936beb3801b3.png)
![image](https://user-images.githubusercontent.com/9070825/124459932-51754a80-ddc1-11eb-979d-8f1b332e3069.png)
![image](https://user-images.githubusercontent.com/9070825/124459955-576b2b80-ddc1-11eb-9d5b-f1de6139efc8.png)

It doesn't save, dont have any exception log also

[2021-07-05 10:56] nogamenofun98 commented on #1084
ok i found the issue, the event `ResponseReceived` is added after 8.32.1, so my laravel version dont have the event class yet, just it doesnt throw any error. Anyways, I type here so anyone saw this can know also.

[2021-07-05 11:53] myckhel commented on #1076
if you published the telescope service provider

if you published the telescope service provider

Goto: `app/Providers/TelescopeServiceProvider.php`
at `register` method

[code]

[2021-07-05 12:22] myckhel opened #1085 "Frontend Request Polling Memory Leaks"
- Telescope Version: v4.5.1
- Laravel Version: v8.49.0
- PHP Version: v8.0

### Description:
The frontend client does not stop request polling after leaving any watch section.

When i navigate from `Events` to `Jobs` section i expects `Events` request polling to stop but both `Events` and `Jobs` request polling continues.

![Screenshot 2021-07-05 at 13 08 40](https://user-images.githubusercontent.

[2021-07-05 16:34] driesvints commented on #1085
Heya, thanks for reporting.

I'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this command. Please also make sure you have both Git

[2021-07-05 16:35] driesvints commented on #1085
Sorry. Just read your issue.

Yes, this is the current behavior. Welcoming PR's that would update it.

[2021-07-05 16:35] #1085 closed

[2021-07-07 10:55] d8vjork commented on #818
Even without Telescope we're suffering the same issue, was using Vapor for 3-4 months and issue came early this week.

We also had a very weird problem of duplicated INSERT queries on some audit logs and 150+ connections opened on RDS.

It'll be really nice to know any tips on how to manage all of this, because we're not even abusing on jobs (and the issue came from the login screen from laravel/u

[2021-07-08 12:53] emargareten commented on #1033
@driesvints https://github.com/leezng/vue-json-pretty is already updated

[2021-07-08 14:41] mattias-persson commented on #818
@d8vjork are you using https://github.com/grimzy/laravel-mysql-spatial? That package was the issue for us, and it's a known issue there: https://github.com/grimzy/laravel-mysql-spatial/issues/144

[2021-07-08 14:43] d8vjork commented on #818
@mattias-persson No, we're not using that package I don't think we either use spatial on our MySQL

[2021-07-08 14:45] mattias-persson commented on #818
@d8vjork Any other packages manipulating DB-connections? Or are you doing something like that yourselves? Might be worth checking.

[2021-07-09 02:38] wocodes commented on #347
Also, as an alternative, just changing this
`'enabled' => env('TELESCOPE_ENABLED', true),` to
`'enabled' => env('TELESCOPE_ENABLED', config('app.env')!=='testing'),`

in your telescope config file solves it too. As telescope will only be activated when the env is changed to testing by phpunitxml.

[2021-07-11 12:22] 0hsn commented on #732
PHP 8.x
Laravel 8.x

Had same issue, but [this way](https://github.com/laravel/telescope/issues/732#issuecomment-551983923) fixed it.

[2021-07-12 15:11] driesvints commented on #1082
Hey @gdebrauwer. Have you found time yet to look into this?

[2021-07-13 05:13] da-mask commented on #770
I believe you can disable telescope when running tests in phpunit.xml like so:
`   <server name="TELESCOPE_ENABLED" value="false" />`

[2021-07-13 11:56] driesvints commented on #1082
@rcerljenko I'll take a look myself.

Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this command. Please also make sure you have both Git

[2021-07-13 15:53] ilyavaiser opened #1094 "get_class() expects parameter 1 to be object, string given in NotificationWatcher.php"
- Telescope Version: 4.5.1
- Laravel Version: 8.49.2
- PHP Version: 7.4

### Description:

  "error": "get_class() expects parameter 1 to be object, string given",
  "record": null,
  "status": 500,
  "exception": "ErrorException",
  "file": "/app/vendor/laravel/telescope/src/Watchers/NotificationWatcher.php",
  "line": 79,

### Steps To Reproduce:

'''
$notification = new AuthTokenNotification($t

[2021-07-13 16:01] driesvints commented on #1094
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-07-13 16:01] #1094 closed

[2021-07-15 08:01] driesvints commented on #1082
@rcerljenko feel free to open a new issue once you'd provided a repo to reproduce this 👍

[2021-07-15 08:01] #1082 closed

[2021-07-16 07:21] Ademking commented on #809
@pcfjojo Please how did you fix this error ?
I'm using telescope with MSSQL.
Thanks

[2021-07-21 19:13] alkrauss48 commented on #136
For those in a boat like me where you're trying to programatically install telescope in an environment where TELESCOPE_ENABLED=false must be true, the following helped solve this issue for me:

[2021-07-22 09:42] avido opened #1098 "Queue::failing $event empty when running Telescope"
- Telescope Version: 4.5.1
- Laravel Version: 8.49.0
- PHP Version: 8.0.7
- Database Driver & Version: MySql 8.0.22

### Description:
If Telescope service is registered
[code]

the `JobFailed $event` is empty when using Queue failing facade.
[code]
### Steps To Reproduce:
- fresh laravel app
- install telescope
- setup a fake job which fails immediately
- register telescope in `AppServiceProvider`

[2021-07-22 23:54] kylecmccandless commented on #241
php artisan cache:table
php artisan migrate

fixed it for me

[2021-07-27 13:21] alihassan-ib opened #1102 "Loading more jobs throw an error"
- Telescope Version: 3.5.1
- Laravel Version: 7.30.0
- PHP Version: 7.4.11
- Database Driver & Version:
MySQL

### Description:
I face problem while loading more jobs after 4 or 5 pages console throw error :
Uncaught TypeError: Cannot read property 'content' of undefined

this error is in app.js updateEntries functions while checking for status

[2021-07-27 14:44] driesvints commented on #1102
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2021-07-27 14:44] #1102 closed

[2021-07-27 17:23] alitokmakci opened #1103 "Telescope can not catch the query when using Pipeline"
- Telescope Version: 4.6.0
- Laravel Version: 8.48.2
- PHP Version: 8.0.7
- Database Driver & Version: PostgreSQL 13.3

### Description:
When using Illuminate\Pipeline\Pipeline to apply filter for models Telescope can not catch the query. For Example:

[code]
This function returns correct query but telescope can not catch that query. It does not show anything.

To be clear the Name::class file whi

[2021-07-27 21:49] alitokmakci commented on #1103
I do not know why but it started working right now :)

[2021-07-27 21:49] #1103 closed

[2021-07-28 10:32] driesvints commented on #1098
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-07-28 10:32] #1098 closed

[2021-07-29 13:37] Oluwatobi-beebittech commented on #154
@fylzero This actually worked for me.

[2021-07-29 14:20] avido commented on #1098
not unwilling to do so.. but how can this as described above in a fresh app be different then a bug?

[2021-07-30 02:20] chasdevs commented on #818
Just want to chime in and say we've seen similar issues on our Vapor production application. When a new user signs up for our app, we launch a large amount of jobs (~100-200), and _sometimes_ we see the pattern described above but not all the time. I just reboot the server when this happens, but that's not sustainable.

[2021-07-30 14:19] Eldair opened #1107 "Dump watcher not working php_network_getaddresses: getaddrinfo failed"
- Telescope Version: 4.6.0
- Laravel Version: 8.52.0
- PHP Version: 8
- Database Driver & Version: mysql:8.0
- Using docker with lando

### Description:
Whenever telescope path is open I constantly get these errors in log file and dump watcher doesn't work. Everything else works, including Redis (and cache) watcher which is why this is strange.
[code]

### Steps To Reproduce:

Enable dump watcher

[2021-07-30 15:39] driesvints commented on #1107
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-07-30 15:39] #1107 closed

[2021-08-03 08:06] alihassan-ib opened #1108 "Loading more jobs throw an error"
- Telescope Version: 4.6.0
- Laravel Version: 8.52.0
- PHP Version: 8
- Database Driver & Version:
MySQL

### Description:

I face problem while loading more jobs after 4 or 5 pages console throw error :
Uncaught TypeError: Cannot read property 'content' of undefined

this error is in app.js updateEntries functions while checking if job status is pending

[2021-08-03 08:09] driesvints commented on #1108
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-08-03 08:09] #1108 closed

[2021-08-09 10:31] emargareten commented on #1033
@driesvints this package is already at Vue v3

[2021-08-09 23:36] AMoktar opened #1109 "configuration to ignore gate in blade directives."
Hello guys, I hope you having a nice day.

first of all Telescope is an awesome package , makes our life easy .

I'm suggesting to offer a config key for ignoring gate watcher in blade directives like @can , @cannot
[code]

[code]

this will be better when logging my telescope gate logs , won't be bluted and clear .

I hope that make sense and helpfull .

Thanks a lot

[2021-08-10 06:30] driesvints commented on #1109
No plans for this sorry

[2021-08-10 06:30] #1109 closed

[2021-08-11 09:41] ilyavaiser opened #1111 "Wrong Jobs status when using Laravel Horizon"
- Telescope Version: v4.6.1
- Laravel Version: v8.48.2
- PHP Version: 7.4.22
- Database Driver & Version:

### Description:

Telescope shows pending status for jobs when using Horizon, even if the task is successful.

I am using Queued Laravel Notifications and they work great. The Horizon Dashboard displays the jobs information correctly. Notifications are sent to users. Everything is fine, but w

[2021-08-11 10:03] driesvints commented on #1111
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-08-11 10:03] #1111 closed

[2021-08-12 08:35] einnar82 opened #1112 "Assets are broken (Telescope not found and Google Content Security Policy directive)"
- Telescope Version: 3.5.1
- Laravel Version: ^6.2
- PHP Version: 7.2
- Database Driver & Version: MySQL

### Description:
The whole Laravel Telescope dashboard was broken. I tried to update the Telescope from v2.1.7 to v3.5.1 and republished the assets.

![image](https://user-images.githubusercontent.com/23412411/129165414-1d8d2b64-586d-4624-9cdc-309b27c81857.png)

![image](https://user-images.gi

[2021-08-12 08:41] driesvints commented on #1112
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so, please open up a new issue and we'll help you out.

Thanks!

[2021-08-12 08:41] #1112 closed

[2021-08-12 08:48] ilyavaiser opened #1113 "Wrong "pending" Jobs status when using Laravel Horizon"
Telescope Version: v4.6.1
Laravel Version: v8.48.2
PHP Version: 7.4.22
Database Driver & Version:
Description:
Telescope shows pending status for jobs when using Horizon, even if the task is successful.

I am using Queued Laravel Notifications and they work great. The Horizon Dashboard displays the jobs information correctly. Notifications are sent to users. Everything is fine, but when I look at

[2021-08-12 12:20] driesvints commented on #1113
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2021-08-13 04:50] halimsupranata opened #1115 "$assetsAreCurrent is undefined"
- Telescope Version: 4.6.1
- Laravel Version: 8.54.0
- PHP Version: 7.4.3
- Database Driver & Version: MySQL 8.0.26

### Description:
ErrorException
Undefined variable: assetsAreCurrent (View: /home/project/vendor/laravel/telescope/resources/views/layout.blade.php)

$assetsAreCurrent is undefined
Make the variable optional in the blade template. Replace {{ $assetsAreCurrent }} with {{ $assetsAreCu

[2021-08-13 07:25] driesvints commented on #1115
That was removed here: https://github.com/laravel/telescope/pull/1063. Most likely your assets aren't up to date. The best way to keep these assets up to date is by adding these lines to your composer.json file:

https://github.com/laravel/laravel/blob/8.x/composer.json#L40-L42

[2021-08-13 07:25] #1115 closed

[2021-08-13 10:56] halimsupranata commented on #1115
@driesvints It's not working. I still face the same problem
What I have try:
php artisan telescope:publish -> the vendor is publish but still not working
add this "@php artisan vendor:publish --tag=laravel-assets --ansi" ->the vendor is publish but still not working
php artisan view:clear -> not working
restart laptop -> not working

Still got $assetsAreCurrent is undefined

[2021-08-13 12:16] driesvints commented on #1115
This variable doesn't exists in Telescope anymore so you most definitely still have it in your code. Check your vendor directory and clear those assets manually if you need to.

[2021-08-17 15:24] driesvints commented on #1113
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel to open up a new issue if you're still experiencing this.

[2021-08-17 15:24] #1113 closed

[2021-08-18 09:40] Tesla2k commented on #419
I hade the same problem telescope was slowing done some request by about 50%. I have very large response and the problem was in the RequestWatcher. The size limit is applied after trying thinks like json_decode and so on which took quite a long time.

I made my own RequestWatcher derived from the original one. The Telescope front end says "This watcher is turned off" but it works fine.

[code]

[2021-08-20 17:10] wsamoht commented on #1023
Since the original fix for this was reverted due to the issue it caused in #1026 and #1028, a temporary solution that I found is to just disable Telescope if Laravel is running in the console. I have Telescope set up for a [Local Only Solution](https://laravel.com/docs/8.x/telescope#local-only-installation) with auto discovery off.

**STEP 1**
Rename `App/Providers/TelescopeServiceProvider.php` to

[2021-08-20 19:41] JakeBooher opened #1117 "Getting a "This watcher is turned off" message when extending a default watcher"
- Telescope Version: 4.6.2
- Laravel Version: 8.53.1
- PHP Version: 8.0.9
- Database Driver & Version: MySQL 8.0

### Description:

If you extend a default watcher (In this case `RequestWatcher`) to change its behavior (In my case specifically I needed to sanitize GraphQL queries/mutations in addition to normal JSON requests as these weren't handled by the default watcher) you get a "This watcher

[2021-08-23 08:08] driesvints commented on #1117
Appreciating a PR for this, thanks.

[2021-08-23 08:08] #1117 closed

[2021-08-25 03:03] joowdx commented on #739
Hi. I created a pull request for this #1118 .

[2021-08-27 00:50] xtfer opened #1120 "Error on rename running migrations"
- Telescope Version: 4.6.2
- Laravel Version: 8.56.0
- PHP Version: 8.0.9
- Database Driver & Version: mysql 10.6.4 MariaDB

### Description:

When installing Telescope I get the following error during `php artisan migrate`...

[code]

### Steps To Reproduce:

Following the steps on the Local Install https://laravel.com/docs/8.x/telescope#local-only-installation

[2021-08-27 10:55] #1120 closed, assigned to nobody

[2021-08-28 09:47] xtfer commented on #1120
@driesvints It's your migration thats failing. Fine if you think thats a support problem, but to me it looks like a bug.

[2021-08-30 07:50] driesvints commented on #1120
It works just fine for me.

[2021-09-06 04:32] Gab-Menezes opened #1122 "Gate/Policy breaks when using octane+telescope"
- Telescope Version: 4.6.2
- Laravel Version: 8.58.0
- PHP Version: 8.0.10
- Database Driver & Version: PostgreSQL 13.4
- Octane: 1.0.11
- Sail: 1.10.1

### Description:
The use of the **can** middleware will cause the **GateWatcher::recordGateCheck** to throw an exception because the funcion **getCallerFromStackTrace** will return null instead of an array with the file and line.
I'm running Swool

[2021-09-07 10:14] driesvints commented on #1122
@Gab-Menezes we're a bit strapped these days so we'll need to delay looking into this for now. If you could come up with a PR yourself that'd be great.

[2021-09-14 19:49] ismaail opened #1126 "telescope_entries table queries are shown in Query Watcher"
- Telescope Version: v4.6.3
- Laravel Version:  v8.61.0
- PHP Version: 8.0.10
- Database Driver & Version: MySQL 8

### Description:
`telescope_entries` table queries are shown in Query Watcher.

https://user-images.githubusercontent.com/4411670/133323960-38047e8f-2556-42af-9e59-f4a8fa4df2ad.mp4

### Steps To Reproduce:
1. Upgrade Laravel Telescope to version 4.6.3
2. Have `TELESCOPE_DOMAIN` in th

[2021-09-15 07:12] RTippin commented on #1126
I can confirm having this behavior as well after updating to `v4.6.3`. Even my request watcher was showing all telescope `POST` to the internal `telescope-api`.

[2021-09-15 10:39] metalogico commented on #1126
Yes, same problem for me. I just left a comment on the commit which is likely to cause the issue.

[2021-09-16 06:54] derekmd commented on #1122
I put together a propspective fix but it only part of it may make sense for the `GateWatcher`: https://github.com/laravel/telescope/compare/4.x...derekmd:stack-trace-captures-supports-octane?expand=1

This would trace the stack back to file vendor/laravel/octane/src/ApplicationGateway.php:36 for call `Laravel\Octane\ApplicationGateway->handle(Request $request)`. However I think it makes more sense

[2021-09-16 15:18] SaaberDev commented on #1126
facing same issue .... 😫😫

[2021-09-16 17:08] ismaail commented on #1126
@SaaberDev workaround: add `TELESCOPE_DOMAIN` to `.env` with the app domain as its value.

[2021-09-16 17:31] SaaberDev commented on #1126
@ismaail

![image](https://user-images.githubusercontent.com/60372951/133658127-29c0a4d2-2edc-48ea-86b7-0d826db72cd0.png)

Not working ....

[2021-09-16 17:43] ismaail commented on #1126
@SaaberDev try without `https://`

[2021-09-16 17:44] #1126 closed

[2021-09-16 17:55] SaaberDev commented on #1126
@taylorotwell .... Thanks boss .. Got the new update just now and fixed ❤❤

[2021-09-16 22:06] Gab-Menezes commented on #1122
@derekmd ty for the fix, I was really busy with work this last week, and ended forgeting about it. I'm gonna test this later, should we close this issue or leave it until we can find a better fix ?

[2021-09-16 23:14] derekmd commented on #1122
It can probably be closed because I can't think of a non-hacky fix for this. The problem seems to be route middleware performing gate authorization checks so `App\*` namespace controllers or middleware are never reached. Maybe the issue also occurs for controller constructor-configured authorization?

e.g.,

[code]

Even without using Laravel Octane, visiting `/profile/1` generates this Telescope

[2021-09-17 00:59] Gab-Menezes commented on #1122
Yeah I understand, looking carefully it really seems a hacky solution. I'm gonna let this issue be open for few more days, only to have a chance to attract another solutions from other people. I'm also gonna try to think in a solution, if nothing pops out I'm gonna close it.

[2021-09-17 08:56] samuelecarpene opened #1129 "Add channel to logs interface"
I think it can be helpful to add the information about the channel of provenience of a log. In my projects i use multiple channels for specific tasks ( 1 log file for an artisan task, 1 log for describing a frontend process that can be erroneusly, etc.). At the moment the channel is not stored in database so it must be added when writing to table "telescope_entries". I would like to make a pull re

[2021-09-21 15:02] gthedev opened #1130 "Client Request Watcher to hide parameters before checking if content is within limits"
Currently, for JSON responses, the `ClientRequestWatcher` will check if the response content size is within accepted limits and purge it completely if not. If it is within limits, it will hide some parameters before recording it.

I would propose this to be done the other way round, so that the parameters are first hidden and then the limit is checked. Main reason for that would be to allow hiding

[2021-09-24 03:07] #1122 closed

[2021-09-25 10:28] Paradiddley commented on #64
I just came across this issue myself and this might fix it without having to exclude Telescope from CSRF checks or disabling CSRF altogether, which is definitely **not** what you want to do.

Check if you have `SESSION_DOMAIN` set in your .env. Whatever domain that's set to will need to be used to access Telescope as the `XSRF-TOKEN` cookie includes the domain if that env var exists. Without the e

[2021-09-27 09:48] driesvints commented on #1129
Atm we don't have plans to work on this ourselves, sorry.

[2021-09-27 09:48] #1129 closed

[2021-09-27 09:55] driesvints commented on #1130
We don't have any plans for this atm, sorry.

[2021-09-27 09:55] #1130 closed

[2021-09-27 18:16] ulcuber commented on #837
To free space:
`alter table telescope_entries ENGINE=InnoDB;`
As MySQL **.idb** not reduced automatically.
Technically it creates new table (temp) then removes old table and renames temp table to old table name, so space freed, as new table not yet fragmented and not yet increased.

[2021-09-28 11:40] samfrjn11 commented on #669
Did you find a way to fix this?
I'm having the same behaviour...
Telescope@4.6
Laravel@8.12

![image](https://user-images.githubusercontent.com/13766544/135079772-3a82d1dd-f4de-4488-9028-e568c280f949.png)

[2021-09-29 02:54] nogamenofun98 opened #1132 "Schedule Watcher seem not working when use with Laravel Octane/PHP 8.0.10"
- Telescope Version: 4.6.4
- Laravel Version: 8.61.0
- Laravel Octane Version: v1.0.11
- PHP Version: 8.0.10
- Database Driver & Version:

### Description:
I got a scheduler cronjob to run on every minutes, and it is working in php7.4.
When I switch to PHP 8.0.10 and run on octane, seem like telescope doesnt record the scheduler record, the first one with "/usr/bin/php8.0" is I run from "php artis

[2021-09-29 07:36] driesvints commented on #1132
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2021-09-29 07:36] #1132 closed

[2021-10-11 09:10] Jaspur opened #1134 "Model Watcher let Vapor-deployed applications fail with Octane enabled on Docker"
Telescope Version: 4.6.5
- Laravel Version: 8.63.0
- PHP Version: 8 (Docker via Vapor)
- Database Driver & Version: PostgreSQL 13

### Description:
I'm using Vapor with Telescope.
Vapor is set to use Docker and Octane enabled.
When I fully enable Telescope on my Vapor, the application isn't loading anymore and gives directly a server error with the context of "TypeError: Cannot access offset of ty

[2021-10-11 10:29] #1134 closed, assigned to nobody

[2021-10-15 08:50] mr-mmmmore commented on #787
I am facing the same issue when using the `can` method on a model that implements `Authorizable` but not `Authenticatable`. It has been working like this for years in my app but now Telescope's `GateWatcher` breaks it.

The `can` method is in the `Authorizable` trait and I think it should work wether the model is an `Authenticatable` or not. These contracts are separate for a reason and it seems t

[2021-10-16 03:48] markjaquith commented on #1068
I've also experienced this, but only when running on Laravel Vapor.

I'm using RDS MySQL 8.0 there.

When running locally on Valet, using MySQL 5.7, there are no issues.

I just set `'hydrations' => false` to hide the problem.

[2021-10-18 12:05] raymundfischer opened #1135 "galera 3 nodes cluster wsrep - node is leaving cluster"
- Telescope Version: 4.6.5
- Laravel Version: 8.6.3
- PHP Version: 7.4.21
- Database Driver & Version: PDO 7.4.21

### Description:
galera 3 nodes cluster wsrep - node is leaving cluster

### Steps To Reproduce:

when pruning data a WSREP error occurs and node is leaving cluster

WSREP: Member 1(dbnodename) initiates vote on 9ab73b84-2c41-11ec-8439-2b99288da8f6:258706,d562bd8d1db18dec:  Cannot add

[2021-10-18 12:20] #1135 closed

[2021-10-19 15:21] sanjitkung commented on #818
I am experiencing similar issue as well. After installing telescope, I started getting connection timeout errors.

[2021-10-20 09:19] Algeneralo opened #1137 "Duplicated logs after upgrading to php 8 on vapor"
- Telescope Version: 4.6
- Laravel Version: 8.31
- PHP Version: 8.0
- Database Driver & Version: RDS PostgreSQL 10.7

[code]

### Description:
We had an issue of duplication of the logged requests and all other things on the telescope after upgrading the PHP version to 8 using Vapor.

[2021-10-29 16:00] Temepest74 opened #1140 "TELESCOPE_DOMAIN not working as intended"
- Telescope Version: 4.6.5
- Laravel Version: latest
- PHP Version: 7.4.9
- Database Driver & Version:

### Description:

I barely installed this on my local enviroment. The url of my project is: http://localhost/project/public/. When I set the TELESCOPE_DOMAIN to localhost/project/public it does not work and I am unable to access /telescope (getting a 404 error). IF i remove this line from my .en

[2021-10-29 16:02] #1140 closed, assigned to nobody

[2021-11-01 09:49] Temepest74 commented on #561
@driesvints why is this the case? How would someone develop an app with this package on local env? Without some weird workaround

[2021-11-01 09:55] driesvints commented on #561
@Temepest74 Laravel in a subdirectory exposes your app outside your web directory and risks exposing code and environment secrets that way.

[2021-11-01 10:03] Temepest74 commented on #561
Yes, but why don't you allow it only in local development (app_debug=true) or something like that?

[2021-11-01 10:10] driesvints commented on #561
@Temepest74 doesn't makes sense to us to have a different behavior locally.

[2021-11-07 19:03] njoguamos commented on #1023
@wsamoht Your solution worked form me

[code]

[2021-11-10 10:43] rupeszh commented on #493
Solution to the problem for me is adding telescope in VerifyCsrfToken middleware.i:e
protected $except = [
        'telescope/*'
    ];
}

[2021-11-10 10:48] rupeszh commented on #621
Solution to the problem for me is adding telescope in VerifyCsrfToken middleware.i:e
protected $except = [
        'telescope/*'
    ];

[2021-11-10 10:51] rupeszh commented on #878
Solution to the problem for me is adding telescope in VerifyCsrfToken middleware.i:e
protected $except = [
        'telescope/*'
    ];

[2021-11-10 14:05] fl0cke opened #1144 "Response tab shows empty array whenever an empty JSON object is returned"
- Telescope Version: 4.6.6
- Laravel Version: 8.68.1
- PHP Version: 8.0.10
- Database Driver & Version: pgsql

### Description:

Whenever there is an empty object (`{}`) in a JSON response, telescope shows an empty array (`[]`) instead. I know that this is to some extent a limitation of PHP itself, but i think the response view should not alter the data in any way and display it _exactly_ as it wa

[2021-11-10 14:14] #1144 closed

[2021-11-17 21:53] tabuna opened #1148 "Information about duplicate SQL queries"
- Telescope Version: 4.6.7
- Laravel Version: 8.72.0
- PHP Version: 8.0.12
- Database Driver & Version: MySQL 8.0

### Description:

When debugging in the UI, I see a hint that I have duplicate queries:

![image](https://user-images.githubusercontent.com/5102591/142283768-b82cac02-597f-4afc-b9f1-d2b8ccb056ee.png)

But this information is not valid, which has a negative impact since developers can

[2021-11-18 06:27] barryvdh commented on #1148
This is usually because of eager loading, you have the same queries bit for different IDs. So not exactly the same, bit with different bindings.

[2021-11-18 07:20] driesvints commented on #1148
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-11-18 07:20] #1148 closed

[2021-11-18 07:34] driesvints commented on #1148
Thanks @barryvdh

[2021-11-25 22:51] mshamaseen opened #1151 "Telescope should be publicly available **ONLY** on local env"
- Telescope Version: ^4.6
- Laravel Version: ^8.0
- PHP Version: 8.0
- Database Driver & Version:

### Description:

In the [document](https://laravel.com/docs/8.x/telescope#dashboard-authorization):

There are 2 concenrs here:

1- I think this is NOT the case, we have a development server with env equal `development` and telescope is not publicly available.
2- Telescope should be publicly availab

[2021-11-26 08:17] driesvints commented on #1151
`development` isn't `production` so telescope is publicly available. You can also configure authorisation more granularly through https://laravel.com/docs/8.x/telescope#dashboard-authorization

[2021-11-26 08:17] #1151 closed

[2021-11-29 16:42] binaryk opened #1152 "Telescope issue on PHP8.1 after first refresh (forge)"
- Telescope Version: v4.6.7
- Laravel Version: v8.73.2
- PHP Version: 8.1.0
- Database Driver & Version: 8.0.2

### Description:

As soon I deploy the app on forge (using forge default deployment script) the app loads once, but after the second page refresh it shows the following error:

![CleanShot 2021-11-29 at 18 18 02@2x](https://user-images.githubusercontent.com/6833714/143904376-0deb6e3c-cfc

[2021-11-29 16:44] driesvints commented on #1152
Hi @binaryk, can you please contact Forge support about this?

[2021-11-29 16:44] #1152 closed

[2021-11-30 08:21] themsaid commented on #1152
I don't see how this is related to Forge @driesvints ?

[2021-11-30 10:12] driesvints commented on #1152
@binaryk seems this is related to your app specifically. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://web.libera.chat/?nick=laravelnewbie&chann

[2021-11-30 11:02] binaryk commented on #1152
It might be, I'll deploy a fresh app on forge using a subdomain to ensure that. Thank you!

[2021-11-30 11:22] binaryk commented on #1152
@themsaid

The thing is that after deleting `telescope` the app works properly, it's on nova btw:
![CleanShot 2021-11-30 at 13 21 32@2x](https://user-images.githubusercontent.com/6833714/144038571-0b672142-f4b2-4651-b372-18ee63aec374.png)

[2021-11-30 11:49] binaryk commented on #1152
I found the issue! 💯

Basically, [Restify](https://restify.binarcode.com/) emits an event from the `boot` method of his service provider
[provider](https://github.com/BinarCode/laravel-restify/blob/6.x/src/RestifyApplicationServiceProvider.php#L24) -> [event](https://github.com/BinarCode/laravel-restify/blob/6.x/src/Restify.php#L101).

Then, `Telescope` is trying to register this event in logs, bu

[2021-12-01 10:13] Atomzwieback opened #1153 "strtolower(): Passing null to parameter #1 ($string) of type string is deprecated"
- Telescope Version: 4.6.8
- Laravel Version: 8.12.0
- PHP Version: 8.1.0

### Description:

In the file `vendor/laravel/telescope/src/Watchers/RequestWatcher.php:173` this topic deprecation exception gets thrown.

### Steps To Reproduce:

Use Telescope

[2021-12-02 13:09] #1153 closed

[2021-12-19 11:07] bretto36 opened #1162 "Cannot access offset of type string on string - when calling Model::pluck('id', 'string column');"
- Telescope Version: #4.6.9
- Laravel Version: 8.65
- PHP Version: 8.1
- Database Driver & Version: mysql 5.7

### Description:

When having telescope enabled i am getting an error `Cannot access offset of type string on string` when calling Model::pluck() with the second parameter as a string column.

78         if (! isset($this->hydrationEntries[$modelClass])) {
79             $this->hydrationE

[2021-12-19 17:45] driesvints commented on #1162
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-12-19 17:45] #1162 closed

[2021-12-20 23:09] fjarrett commented on #818
I have the same issue with an app running on Vapor. Database connections increase ~35x when Telescope is enabled.

[2021-12-23 18:20] 4unkur opened #1163 "Serialization of 'Closure' is not allowed issue when trying to send queued notifications"
- Telescope Version: 4.6.9
- Laravel Version: 8.76.2
- PHP Version: 7.4.25
- Database Driver & Version: MySQL 8.0.27

### Description:

I have a queued notification which throws an error `Serialization of 'Closure' is not allowed`
The error occurs only when telescope is enabled (I use `TELESCOPE_ENABLED` .env variable)
The notification code: https://paste.laravel.io/917583d1-df98-4355-957a-4ab3ee4

[2021-12-29 19:52] antongorodezkiy commented on #67
I have the same issue with custom auth provider and laravel 8.77.1 and telescope 4.6.9. Before installing telescope the app was working fine with custom auth provider for the ~5 months.

[2021-12-29 22:01] tipjoe opened #1164 "DatabaseEntriesRepository array access error with one liner fix"
- Telescope Version: 4.6.9
- Laravel Version: 8.69.0
- PHP Version: 8.0.12
- Database Driver & Version: mysqli and pdo_mysql for mysql 5.7.36-log

### Description:
When telescope attempts to track entries for artisan commands, it causes this:

`[2021-12-29 13:43:21] dev.ERROR: Attempt to read property "content" on array {"exception":"[object] (ErrorException(code: 0): Attempt to read property \"co

[2022-01-03 08:08] mr-mmmmore commented on #787
I think this issue should be reopened.

[2022-01-03 09:16] driesvints commented on #1164
I don't think this is a good solution as it's intended to be an object. Most likely, you're using array hydration instead of object hydration. Something we can do is first attempt object hydration and later on array hydration. I'll check in on that.

[2022-01-03 10:37] driesvints commented on #1164
I sent in a fix for this: https://github.com/laravel/telescope/pull/1165

[2022-01-04 13:07] driesvints commented on #1163
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-01-04 13:07] #1163 closed

[2022-01-04 18:17] tipjoe commented on #1164
Thanks for the quick response!

[2022-01-04 20:28] ZacharyDuBois commented on #221
I also ran into this issue when running a job that processes ~4500 records and runs about ~3-7 queries per record. Adding `Telescope::stopRecording()` and `Telescope::startRecording()` at the beginning of the job and end of the job's `handle()` method resolved it. Went from failing with a OOM error at 512MB to finishing with a peak of 60MB. It seems Telescope saving everything until the end of the

[2022-01-06 15:08] ajcastro opened #1167 "When viewing logs in a request, the display order should be first message first to display (ascending) for debugging"
For a specific request, I think the normal viewing of logs is the first logs first, ascending time manner, just like how we view logs in `laravel.log` file for debugging purpose.

Currently it is displayed in reverse which is not good when debugging.

![image](https://user-images.githubusercontent.com/4918318/148403845-fd4516fe-65a6-44de-8335-633a0d6377b4.png)

Consider this log for debugging:
[co

[2022-01-06 15:11] driesvints commented on #1167
I see what you mean but this will make this view different from all the others. I believe there's a difference between a Telescope view and a log file. I don't think we'll be changing this right now sorry.

[2022-01-06 15:11] #1167 closed

[2022-01-06 15:15] ajcastro commented on #1167
No worries @driesvints . But can you give me a hint on what file in the source code  I need to look or change so I can customize it in my fork?

[2022-01-06 15:21] driesvints commented on #1167
Guess it's either https://github.com/laravel/telescope/blob/4.x/resources/js/screens/logs/index.vue or the query that provides the results.

[2022-01-07 15:50] ZacharyDuBois opened #1168 "Not recording while DB is in a transaction"
- Telescope Version: 4.6.10
- Laravel Version: 8.6.10
- PHP Version: 8.1.1
- Database Driver & Version: Tested with SQLite and PostgreSQL.

### Description:
When code is executing within `DB::beginTransaction()`, nothing gets logged if the request errors out.

### Steps To Reproduce:

Create a vanilla Laravel project with a SQLite DB (or your choice of DB), install Telescope, and add and load the

[2022-01-07 15:50] driesvints commented on #1168
This indeed isn't supported, sorry.

[2022-01-07 15:50] #1168 closed

[2022-01-07 16:08] ZacharyDuBois commented on #1168
@driesvints would this not be a bug vs just something that you wouldn't want to support since it occurs with a common DB practice?

Side note for those with the same issue:
So I was able to resolve it by duplicating the primary DB connection and explicitly telling Telescope to use it. I feel there would be a more elegant solution though.

[2022-01-07 16:10] driesvints commented on #1168
I don't think we'll be working on this soon sorry.

[2022-01-11 08:35] tczaude opened #1169 "telescope:prune pure performerce"
- Telescope Version: x.x.x
- Laravel Version: x.x.x
- PHP Version: x.x.x
- Database Driver & Version: mysql

### Description:

When executing the prune command, Telescope charges the base blocking access to the table. For larger data sets, it can even lead to destabilization of the system operation. The problem is the lack of an index after which the "prune" command searches for records to be dele

[2022-01-11 08:43] driesvints commented on #1169
This table should already have an index: https://github.com/laravel/telescope/blob/4.x/database/migrations/2018_08_08_100000_create_telescope_entries_table.php#L56

Please also fill out the version numbers next time.

[2022-01-11 08:43] #1169 closed

[2022-01-11 09:07] tczaude commented on #1169
ehh ok im blind
But i have test with telescope in v4.6.1 and laravel Laravel Framework 8.53.1 and i don't have this index.
I try find  why this index was wanished

[2022-01-15 16:41] YuSuFApiwi commented on #96
I have changed $table->json("name_column") to $tbale->text("name_column") But this is not the right way to work because I use MySQL InnoDB where not accepted JSON It may be due to the version 10.1.38-MariaDB

[2022-01-20 19:56] Hamza-crypto commented on #454
Is there any configuration available to hide this "Delete entries" button. Although it shows alert but I don't want anyone from the allowed persons to clear the entries unexpectedly.

[2022-01-24 10:18] michele-grifa opened #1171 "Tried to bind parameter number 2101. SQL Server supports a maximum of 2100 parameters."
- Telescope Version: 4.7.0
- Laravel Version: 8.80.0
- PHP Version: 8.0
- Database Driver & Version: SQL Server 2017

### Description:
I'm currently using SQL Server 2017 and i tried to install Telescope, but when i execute any query, the log file shows this error:
[code]

To make it works, i also published the migrations and added `precision` 2 to `created_at` column, without this other errors po

[2022-01-24 10:35] driesvints commented on #1171
You can indeed work around this by publishing migrations: https://laravel.com/docs/8.x/telescope#migration-customization

[2022-01-24 10:35] #1171 closed

[2022-01-24 10:40] michele-grifa commented on #1171
Yes but the error happen when telescope tries to insert the data in the table.

[2022-01-27 15:46] driesvints commented on #1081
No plans to reopen. Feel free to send in a PR if you come up with a solution.

[2022-01-27 15:49] k0pernikus commented on #1081
We ran into this as well running telescope on vapor.

@driesvints Why are you closing every issues even if it is not solved? Even if you can't reproduce it, let it be open as a warning to other people looking for the same issue. It was a pain to find this issue. It feels even more frustrating to read: "can't reproduce, will close".

There is no value in having open bugs hidden away when one looks

[2022-01-27 18:12] antoinelame commented on #626
I'm posting this message a few years later, for those like me who face the same issue.

The behavior described by @benignant is still actual and I see it on all the Laravel projects I work on.

Exceptions triggered by jobs **do not appear** in the Exceptions page of Telescope (`/telescope/exceptions`). However, they are showed on the detail page of a job that failed (`/telescope/jobs/{uuid}`). I d

[2022-01-27 22:39] antoinelame commented on #1022
Hey @driesvints and @themsaid,

This issue is still present and makes impossible the monitoring of failed jobs in production. That's quite annoying and I'd love to help with this and submit a PR. 👍

However, I didn't quite understand the suggested solution using the `filterBatchUsing` callback. Using it, how could we prevent one Job entry from being stored without preventing the whole batch?

[2022-01-31 12:55] driesvints commented on #1081
Hi all. I tried to dig into this and think I found a reason why this happens specifically on Vapor. I've written a lengthy explanation on a PR I sent in. I'd appreciate it if anyone could try that out on their app: https://github.com/laravel/telescope/pull/1174

[2022-01-31 12:55] driesvints commented on #1068
Hi all. I tried to dig into this and think I found a reason why this happens specifically on Vapor. I've written a lengthy explanation on a PR I sent in. I'd appreciate it if anyone could try that out on their app: https://github.com/laravel/telescope/pull/1174

[2022-01-31 14:39] markjaquith commented on #1068
Testing that out now. For anyone else who wants to test it out:

`composer require cweagans/composer-patches`

**composer.json**

[code]

And then make sure you haven't disabled hydrations:

**config/telescope.php**

[code]

[2022-02-01 15:02] #1081 closed

[2022-02-01 19:07] yasirhashmi88 opened #1178 "ERROR: ErrorException: Undefined array key 0"
- Telescope Version: 4.7.1
- Laravel Version: 8
- PHP Version: 8
- Database Driver & Version: MySQL 8.0.23

### Description:

Getting `ERROR: ErrorException: Undefined array key 0 in /var/www/hr/vendor/laravel/telescope/src/Watchers/ModelWatcher.php:74`

- If I set `'hydrations' => false,` in `telescope.php`, it works.
- I noticed the key of an array comes as string like `model` and doesn't comes

[2022-02-02 20:04] diego-lipinski-de-castro commented on #818
Same problem, not using vapor tho, just normal machine server

[2022-02-03 15:18] driesvints commented on #1178
I think this is related to my PR here: https://github.com/laravel/telescope/pull/1174. Seems that associative keys are kept because of the decoding. But it's beyond me why they're being recorded again.

[2022-02-03 15:23] driesvints commented on #1178
@yasirhashmi88 can you try out https://github.com/laravel/telescope/pull/1180 ?

[2022-02-03 15:27] yasirhashmi88 commented on #1178
@driesvints Yes. That's fixes the issue.

[2022-02-03 15:27] #1178 closed

[2022-02-03 17:43] sts-ryan-holton opened #1181 "New log name doesn't appear after making edit"
- Telescope Version: 4.7.1
- Laravel Version: 8.82.0
- PHP Version: 7.4
- Database Driver & Version: SQL

### Description:

I've got a custom log channel called `Applications` in my website, I was previously logging as "Application submitted" but decided to change the title of the log. Upon deploying the change, Telescope appears to be continuing to read from the previous log name despite clearing

[2022-02-04 07:57] driesvints commented on #1181
Heya, thanks for reporting.

We'll need more info and/or code to debug this further. Can you please create a repository with the command below, commit the code that reproduces the issue as separate commits on the main/master branch and share the repository here? Please make sure that you have the [latest version of the Laravel installer](https://github.com/laravel/installer) in order to run this c

[2022-02-04 14:16] driesvints commented on #1181
I'll re-open this as soon as you've provided a repository. Thanks

[2022-02-04 14:16] #1181 closed

[2022-02-04 14:24] screw commented on #828
Where do you put this code?

[2022-02-05 12:56] more-pepsi opened #1183 "Watcher for tests"
How about a watcher for tests , such that I don't need xdebug and can see the stuffs by dumping etc.

Will submit the Pr if others like, any advise welcome! :) and needed (recommended) 😂

[2022-02-05 22:44] alielmajdaoui commented on #154
One more step is missing from @themsaid https://github.com/laravel/telescope/issues/154#issuecomment-432938123 is to remove `App\Providers\TelescopeServiceProvider::class` from `providers` array in `config/app.php`

Thanks to https://stackoverflow.com/a/66272295/3632172

[2022-02-06 16:41] rjlfurtado opened #1184 "Observer to analyze the runtime of classes and methods"
1st - I see that the Telescope could be better if it had an observer for classes and methods.
Example:
identify slow points through classes and methods using runtime.

2nd - I felt the lack of graphics, the view of the tables is very wide but it leaves me with my eyes closed. Currently I can't get a complete and simplified view of everything.
That would be very interesting.

[2022-02-07 07:56] driesvints commented on #1184
Feel free to attempt some PR's 👍

[2022-02-07 07:56] #1184 closed

[2022-02-07 08:29] driesvints commented on #1183
We have no plans for this ourselves but you're free to attempt a PR if you like 👍

[2022-02-07 08:29] #1183 closed

[2022-02-10 00:52] saulamsal opened #1185 "Wrong asset URLs for telescope"
- Telescope Version: ^4.7
- Laravel Version: ^8.20.1
- PHP Version: 8.0.0
- Database Driver & Version: MySQL  Ver 8.0.28

### Description:
I had the Laravel application running on a local network of 192.168.1.54 previously. I've recently moved to a new device and also a new network(192.168.1.92). Now, when loading Telescope, it doesn't load the assets. When I looked up the assets, it was still ref

[2022-02-10 08:21] driesvints commented on #1185
This doesn't seem Telescope related but rather some configuration gone wrong or maybe browser caching. Telescope doesn't control your web address. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
-

[2022-02-10 08:21] #1185 closed

[2022-02-11 14:13] keatliang2005 opened #1186 "Mail preview are not displayed correctly"
- Telescope Version: v4.7.2
- Laravel Version: 9.0.0
- PHP Version: 8.0.8
- Database Driver & Version: MySQL 5.7+

Description:
Preview in mail does not rendered correctly,
<img width="932" alt="Screenshot 2022-02-11 at 10 07 47 PM" src="https://user-images.githubusercontent.com/473990/153606238-c75fd6f1-87bb-4cf9-b701-c52dccad315d.png">

eml file is correct, render on gmail and email client corre

[2022-02-13 16:22] DriverCat commented on #1186
Yeah, I have the same problem on Laravel 9

[2022-02-14 02:11] rmundel opened #1189 "Passing null to parameter $domain of type string is deprecated when using Telescope with Octane"
- Telescope Version: 4.7.2
- Laravel Version: 8.83.0
- PHP Version: 8.1.2 | 8.0.14
- Database Driver & Version: Postgres 14

### Description:
https://app.honeybadger.io/fault/97659/d82cc959e1dfe859bbad5448244d7a45

### Steps To Reproduce:
Just access Telecope running from Octane.

[2022-02-14 06:25] keatliang2005 commented on #1186
I had trace to specific this commit
https://github.com/laravel/telescope/commit/9c42bc0c28e267856c7542fa6a4aa238332a214f

The mail watcher

when using Laravel 9 it will be as AbstractPart,
[code]

which will return to newer version symphony output which is plain text + html, which broken the preview in telescope

2 possible solution

- First directly use available message methods

[code]

- Second

[2022-02-14 09:53] driesvints commented on #1189
Thanks, I've sent in a PR for this: https://github.com/laravel/octane/pull/478

[2022-02-14 09:53] #1189 closed

[2022-02-14 17:25] #1186 closed

[2022-02-17 17:15] Messhias opened #1192 "Requests search can search url, http response instead only tags"
Hi,

I tried to check the documentation but unfortunately, I couldn't find anything that reflects the request (if you already have it, I'll send my apologies in advance).

But in the quest part, it would be nice if it were possible to search not only tags but also other information that is associated with them.

Attached is a demo image of what I mean.

I believe that using queries with LIKE would

[2022-02-18 09:08] driesvints commented on #1192
Atm we have no plans for this but you can always attempt a PR if you want. Worst case, you could maintain a fork of Telescope that does what you want.

[2022-02-18 09:08] #1192 closed

[2022-02-22 09:39] gennarobotta opened #1193 "Requests table not displaing correctly"
- Telescope Version: 4.7.3
- Laravel Version: 8.81.0
- PHP Version: 7.4.27
- Database Driver & Version: mysql with 8.0.17

### Description:
Requests table not displaying correctly due to long URL
![issue](https://user-images.githubusercontent.com/15877216/155097741-91286fba-aa90-44f1-8f7e-cb7132d6f778.PNG)

### Steps To Reproduce:
Make a request with a long url

[2022-02-22 09:42] driesvints commented on #1193
The url is abbreviated on purpose.

[2022-02-22 20:44] gennarobotta commented on #1193
I know the URL is abbreviated on purpose. It's the table that is wrong, look at the eye on the right, the background is different.

[2022-02-24 13:57] driesvints commented on #1193
Did you publish the updated asset files with `php artisan telescope:publish`? https://laravel.com/docs/9.x/telescope#upgrading-telescope

[2022-02-24 20:41] gennarobotta commented on #1193
I did and i noted that the bug happen not just if it's a long URL but has to be a long word in path param.
For example in the case below is correct
![not_issue](https://user-images.githubusercontent.com/15877216/155603768-38fbaebb-4b38-4fc8-9045-9e64db6a1b90.PNG)

[2022-02-25 13:43] driesvints commented on #1193
Thanks for that, I managed to reproduce this and sent in a fix: https://github.com/laravel/telescope/pull/1195

[2022-02-25 19:52] #1193 closed

[2022-03-05 12:55] LocalHeroPro opened #1196 "ERROR: could not create unique index "telescope_entries_pkey""
- Telescope Version: #.#.#
- Laravel Version: 8.83.2
- PHP Version: 8.1.3
- Database Driver & Version: PostgreSQL 13.6, 14.2

### Description:
I try to make backup and after that, restore it 1:1.

### Steps To Reproduce:

[code]

[2022-03-05 21:50] screw opened #1197 "Exception Call to a member function quote() on null when saving records"
- Telescope Version: 4.6.7
- Laravel Version: 8.82.0
- PHP Version: 7.4.26
- Database Driver & Version: NeoEloquent ("ulobby/neoeloquent": "8.0.1")

### Description:
It's the same error as reported for debugbar.
https://github.com/barryvdh/laravel-debugbar/issues/306

Is there any change you could implement similar fix as in
https://github.com/barryvdh/laravel-debugbar/pull/932

As I understand it

[2022-03-07 08:49] driesvints commented on #1196
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-07 08:49] #1196 closed

[2022-03-07 08:50] driesvints commented on #1197
We don't support NeoEloquent sorry.

[2022-03-07 08:50] #1197 closed

[2022-03-08 11:03] superDuperCyberTechno opened #1198 "Add option to record dumps even though the dump watcher tab is not open"
I propose that you add the option to record dumps regardless of whether or not the dump watcher tab is open in the Telescope interface.

This could be done by allowing the `TELESCOPE_RECORD_DUMP_WATCHER_ALWAYS` environment variable to control this outcome.

This can easily be achieved if we change [L43 in `DumpWatcher`](https://github.com/laravel/telescope/blob/5a2702a7fe4bccc36d798e472d12efc60bc0

[2022-03-08 11:13] driesvints commented on #1198
Feel free to attempt a PR 👍

[2022-03-08 11:13] #1198 closed

[2022-03-08 11:39] superDuperCyberTechno commented on #1198
Will do.

[2022-03-09 19:05] rizimore commented on #454
@Hamza-crypto

You can simply copy the layout file from the vendor package to your own views and comment on the hide button

Vendor = vendor/laravel/telescope/resources/views/layout.blade.php
Your Project = resources/views/vendor/telescope/layout.blade.php

![image](https://user-images.githubusercontent.com/31438601/157513297-8d0ac247-a132-4966-9470-d9d8c3733041.png)

[2022-03-15 12:49] zarulizham opened #1202 "HTTP Client Transfer Time"
Hi,

Is it possible to display transfer time?

By right we can get transfer time by `$response->transferStats->getTransferTime()`

[2022-03-15 13:05] driesvints commented on #1202
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-03-15 13:05] #1202 closed

[2022-03-15 13:06] driesvints commented on #1202
@zarulizham at the time this isn't possible. But you're free to attempt a PR/

[2022-03-16 09:51] Yahav opened #1205 "View raw cached content"
So I noticed that when a model is cached, the cached content view is the JSON of the actual content which is great for readability but some things you need to the raw content of the cached item, like the one that can be viewed at Laravel DebugBar.
An option to toggle between raw and formatted can be really helpful in such cases.

[2022-03-16 10:19] driesvints commented on #1205
Thanks for your suggestion. Feel free to attempt a PR if you like.

[2022-03-16 10:19] #1205 closed

[2022-03-17 15:57] br0k3NaN commented on #112
Any plan to telescope in lumen? thanks

[2022-03-21 20:13] mohamed-aiman commented on #818
Faced this issue tonight with AWS RDS PostgresSQL instance.

The server was throwing following error.
[code]

Checked the number of connections
[code]
found out that there were 198 connections. Max limit was reached.

So I checked the details of the connections.
[code]
Found out that the query in almost all are the same. Here is the value of the query column in all of the connection.
[code]
So had

[2022-03-23 10:29] SI-IC opened #1208 "Problem with telescope when using redis cache"
- Telescope Version: 4.8.0
- Laravel Version: 9.4.1
- PHP Version: 8.1.3
- Database Driver & Version: mysql 8.0.28

### Description:
I have installed laravel sail and telescope. When I use in my code something like

`$config = Cache::rememberForever('config', function () {
    return 'hello';
});`

everything works great and laravel returns me cache value, but I get a large number of next errors:

[2022-03-23 10:47] driesvints commented on #1208
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-03-23 10:47] #1208 closed

[2022-03-24 12:53] SI-IC opened #1210 "Problem with telescope when using redis cache (repeat)"
Hi everybody.
To continue the [early asked ](https://github.com/laravel/telescope/issues/1208) question I'm asking to help me because I didn't get any answers at the [forum](https://laracasts.com/discuss/channels/laravel/problem-with-telescope-when-using-redis-cache).
Thanks in advance.

- Telescope Version: 4.8.0
- Laravel Version: 9.4.1
- PHP Version: 8.1.3
- Database Driver & Version: mysql 8.0

[2022-03-28 07:25] driesvints commented on #1210
This really is a support question, please continue to try a support channel. I suspect, most likely, PhpRedis isn't properly configured. You could try Predis instead maybe? https://github.com/predis/predis

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://dis

[2022-03-28 07:25] #1210 closed

[2022-03-28 08:30] SI-IC commented on #1210
That's really strange to get such an answer from you. This is definitely a bug in telescope package. And you see no one can answer that in the community.
To suggest to use predis instead of php-redis is the same like to suggest to use Phalcon instead of Laravel imho. Moreover the php-redis is the default package used in the Sail. And I didn't change default Sail config.

[2022-03-29 08:57] Livijn opened #1212 "No duration when using Octane"
- Telescope Version: 4.7.3
- Laravel Version: 8.83.2
- PHP Version: 8.1
- Database Driver & Version: MySQL 8

### Description:
I am using Laravel Vapor and whenever I use Octane on Vapor my request durations come out as `-` in the Telescope dashboard.

![](https://i.gyazo.com/105c02eb0f2ab32f0ff2b14abb70050d.png)

[2022-03-29 08:58] driesvints commented on #1212
Can you please email Vapor support? Thanks.

[2022-03-29 08:58] #1212 closed

[2022-03-29 10:02] danhanly opened #1213 "Application Exceptions being obscured by Telescope exceptions when Telescope isn't registered (i.e. in production environment)"
- Telescope Version: 4.7.2
- Laravel Version: 8.80.0
- PHP Version: 8.1
- Database Driver & Version: Not Relevant

### Description:
I have turned telescope off in production, following the guide in the documentation. Specifically, I only register the service provider when the environment is local. However, when the app terminates in production, usually due to an exception, I also get an exception

[2022-03-29 10:38] driesvints commented on #1213
I tried with the exact steps to reproduce and couldn't reproduce this. Telescope is not available in a different environment and exceptions are handled properly.

Please try a support channel if you need help:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https:/

[2022-03-29 10:39] #1213 closed

[2022-03-30 15:17] Livijn opened #1214 "MySQL connections not closing on Vapor"
- Telescope Version: v4.8.0
- Laravel Version: v8.83.5
- PHP Version: 8.1.3
- Database Driver & Version: MySQL 8.0.27

### Description:
I am using Vapor and saw a huge number of DB connections. I pinned down the problem to Telescope and tried disabling it. As soon as I did, the DB connections was working as expected.

This issue is related to #818 and that whole issue should be taken in considerat

[2022-03-31 07:54] driesvints commented on #1214
Seems like your support ticket is still pending so please be patient while my colleagues triage it. Thanks

[2022-03-31 07:54] #1214 closed

[2022-03-31 22:02] taylorotwell commented on #818
Been digging into this all afternoon. Not much progress 😞 - but, I have some general ideas of what may be happening it's just a bit of a slow process to try to track it down.

[2022-03-31 22:55] taylorotwell commented on #818
Potential fix: https://github.com/laravel/telescope/pull/1215

[2022-03-31 23:02] taylorotwell commented on #1214
Potential fix: https://github.com/laravel/telescope/pull/1215

[2022-04-01 09:09] Livijn commented on #1214
Have tried it for a few minutes and it seems to work!

[2022-04-01 15:01] nunomaduro commented on #1212
https://github.com/laravel/vapor-core/pull/127

[2022-04-05 09:06] Livijn opened #1216 "FR: Ability to pin entries"
I would like to be able to pin certain entries. We purge our telescope entries every night. However, it would be useful to pin a request so we can reference it in a GitHub issue.

[2022-04-05 09:15] driesvints commented on #1216
I don't think we have any plans for that sorry.

[2022-04-05 09:15] #1216 closed

[2022-04-11 06:29] vedmant opened #1220 "[SQL Server] Incorrect syntax near ','."
- Telescope Version: v4.8.2
- Laravel Version: v8.83.7
- PHP Version: 8.0.14
- Database Driver & Version: sqlsrv, msodbcsql17 17.6.1.1-1
- Microsoft SQL Server 2005 - 9.00.5057.00 (X64)
	Mar 25 2011 13:33:31
	Copyright (c) 1988-2005 Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 (Build 7601: Service Pack 1)

### Description:

Telescope fails to store data with error
`SQLSTATE[4

[2022-04-11 07:00] driesvints commented on #1220
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to open up a new issue with a link to the original one and we'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https

[2022-04-11 07:00] #1220 closed

[2022-04-11 13:03] JoeZing commented on #787
Yep,I agree with your point, I have the same problem that in my project all the models are extends a `BaseModel`,the $user is not a type of `Authenticatable `

[2022-04-22 14:45] marijnhurkens commented on #289
So we had the same problem in our project, stuff works on non-production environments, but fails on our production environment, where sometimes `$model->getKey()` returns zero.

Our Telescope setup is using filters on production environments:

[code]

I found out the issue was gone if I comment out the `hasMonitorTag()` line.

If you follow the calls for that method you will eventually hit monitor

[2022-04-22 20:33] marcusmoore commented on #289
Thanks for your comment @marijnhurkens. It explained the issue I was experiencing on `v4.8.2` of Telescope.

[2022-04-23 07:00] barryvdh commented on #289
So this resurfaced because of https://github.com/laravel/telescope/pull/1215 ?

[2022-04-23 07:33] marcusmoore commented on #289
I believe so since [`v4.8.2`](https://github.com/laravel/telescope/releases/tag/v4.8.2) was the release that included that PR.

The app I noticed this issue  in was on `v4.8.3`. I downgraded to `v4.8.1` and the issue was fixed. I moved to `v4.8.2` after that and the issue appeared again.

[2022-04-27 09:14] lucasRolff opened #1224 "Show real line for queries in jobs"
When one is using jobs in Laravel which are executed by the queue worker (triggered by artisan), the "Location" on the Query Details page, always list artisan line 37 as the path where the query is located, which is obviously not correct.

It would be nice if Telescope could determine the actual line within the given job file one has.

![https://snaps.hcdn.dk/qPZgnK0CwjoQfT9eHzHTBfmMcDn2FwiqpDcKnd

[2022-04-27 09:19] driesvints commented on #1224
Hmm yes this should be more clear I agree. We'd welcome PR's for this.

[2022-04-27 09:23] lucasRolff commented on #1224
I'd make a PR, if I knew how to do it :) I guess I shall ignore it for now, and hope someone who's more capable than me reads **closed** issues.

[2022-04-27 09:37] driesvints commented on #1224
This is not something we're going to work on ourselves any time soon hence why I closed it. Feel free to ask around if anyone wants to help you out with a pr 👍

[2022-04-29 15:05] patrickquijano commented on #1210
I am also encountering the same issue. I get to see a lot of error dumps in the logs with regards to Redis. However, my Redis is working fine using the default Sail config. What's the solution for this?

[2022-05-20 07:42] SirFaenor commented on #289
I was facing the same issue on telescope 4.9.0 and Laravel 8.83.13, only in production environment.

This trick fixed it, still keeping query watcher on.

https://github.com/laravel/telescope/issues/289#issuecomment-436215837

[2022-05-25 05:15] parmonov98 opened #1228 "I can't find POST requests to API on Request tab of telescope. but I see GET requests. What can I do to see all request?"
- Telescope Version:^4.9
- Laravel Version: ^8.40
- PHP Version: 8.0
- Database Driver & Version: mysql

### Description:
https://stackoverflow.com/questions/72372230/i-cant-find-post-requests-to-api-on-request-tab-of-telescope-but-i-see-get-req

### Steps To Reproduce:
composer require, telescope:install, publish, add api to middlewares in telescope.php and go to /telescope

make POST requests to

[2022-05-25 07:28] driesvints commented on #1228
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2022-05-25 07:28] #1228 closed

[2022-05-25 08:17] parmonov98 commented on #1228
I asked no reply but no reply

[2022-05-30 06:01] AtiqurCode commented on #732
Thanks a lot it working for me

[2022-06-28 03:34] legreco commented on #577
Still happening, Laravel 8 ....